{% load static %}
<!doctype html>
<html lang="en-gb">
<head>
	<meta charset="UTF-8">
	<title>Legislation Home | legislation.gov.uk</title>
	<link rel="stylesheet" type="text/css" href="{% static 'new_theme/default_v4.css' %}">
	{% block extra_header %}{% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="{% static 'new_theme/default_v4.js' %}"></script>
	<script src="{% static 'new_theme/minpagination.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
</head>
<body>
	{% include "new_theme/common/header.html" %}
	
    {% block content %}
    {% endblock %}

	{% include "new_theme/common/footer.html" %}

    {% block extra_js %}
	{% endblock %}
</body>
</html>
