{% extends "new_theme/base.html" %}
{% block content %}
<main class="content">
    <section>
        <nav aria-labelledby="breadcrumbNavigation">
            <h2 id="breadcrumbNavigation">Where this page sits</h2>
            <ol>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'research-tools' %}" aria-current="page">Research tools</a></li>
            </ol>
        </nav>
        <h1 id="main-content-h" tabindex="-1">Research tools</h1>
    </section>

    <section class="cards icon-cards">
        <p>
            Our Changes to legislation search tool is a great way to discover how a piece of legislation has changed, and has been changed by, other legislation. The advanced search provides extra ways to find legislation by type, or by a range of years. If you are interested in trends and patterns in legislation, or how language has changed over time, you will find all the tools you need on our Research website. You can now access judgments and decisions to see how legislation has been applied and interpreted in courts and tribunals by visiting the Find Case Law website. If you are creating your own legislation service or reusing legislation data in your own projects, you can make use of our legislation API - find out more below.
        </p>

        <h2>Main sections in Research tools</h2>
        <ul>
            <li>
                <a class="icon_advanced_search" href="#">
                    <h3>Advanced search</h3>
                    <p>Search for keywords in content, Welsh language legislation, legislation with specific geographical extent, and more.</p>
                </a>
            </li>
            <li>
                <a class="icon_changes_to_legislation" href="#">
                    <h3>Changes to legislation</h3>
                    <p>A search tool to find all changes made to or by specific pieces or types of legislation.</p>
                </a>
            </li>
            <li>
                <a class="icon_changes_to_local_private_personal_acts" href="#">
                    <h3>Changes to Local, and Private and Personal Acts</h3>
                    <p>Chronological lists detailing changes to Local, and Private and Personal Acts, between 1539 and 2008.</p>
                </a>
            </li>
            <li>
                <a class="icon_find_case_law" href="#">
                    <h3>Find Case Law</h3>
                    <p>Public access to court judgments and tribunal decisions is an essential part of interpreting legislation. Explore The National Archives' Find Case Law service.</p>
                </a>
            </li>
            <li>
                <a class="icon_reusing_data" href="#">
                    <h3>Reusing legislation data</h3>
                    <p>Find out about our legislation API and other ways in which you can reuse legislation data.</p>
                </a>
            </li>
            <li>
                <a class="icon_research_website" href="#">
                    <h3>Research website</h3>
                    <p>Identify trends and patterns in legislation and explore how words and phrases have changed over time.</p>
                </a>
            </li>
            <li>
                <a class="icon_academic_work_publications" href="#">
                    <h3>Legislation in academic work and publications</h3>
                    <p>Generally accepted practice among legislators and legal practitioners for referring to legislation.</p>
                </a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}