{% extends "new_theme/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
	<main class="advanced-searches">
        <div>
			{% include 'new_theme/advance_search/common/top_bar.html' %}
		</div>
        <section>
			<h1 id="main-content-h" tabindex="-1">Impact Assessment Advanced Search</h1>
		</section>
        <section>
            <form role="search" method="get" action="{% url 'search' %}">
                <input type="hidden" name="type" value="ukia">
                <input type="hidden" name="search_type" value="impact_assessment">
                {% include 'new_theme/advance_search/common/search-keyword.html' %}
                <fieldset class="search-ia-attributes">
                    <legend><h2>Impact Assessment attributes</h2></legend>
                    <span>
                        <label for="stage">Stage:</label>
                        <select id="stage" name="stage">
                            <option value="">All</option>
                            <option value="CONSULTATION">Consultation</option>
                            <option value="DEVELOPMENT">Development</option>
                            <option value="ENACTMENT">Enactment</option>
                            <option value="FINAL">Final</option>
                            <option value="IMPLEMENTATION">Implementation</option>
                            <option value="OPTIONS">Options</option>
                            <option value="POST_IMPLEMENTATION">Post Implementation</option>
                        </select>
                    </span>
                    <span>
                        <label for="department">Department <span>(the whole name of the department is required)</span></label>
                        <input type="text" id="department" name="department" placeholder="e.g. Department of Agriculture, Environment and Rural Affairs">
                    </span>
                </fieldset>
                {% include 'new_theme/advance_search/common/enacted-made.html' %}
                <button type="submit">Search</button>
            </form>
        </section>
	</main>
{% endblock %}