<html lang="en-gb">{% load static %}
<head>
	<meta charset="utf-8">
	<title>Section 25F | Transparency of Lobbying, Non-Party Campaigning and Trade Union Administration Act 2014 | legislation.gov.uk</title>
    <link rel="stylesheet" type="text/css" href="{% static 'new/default.css' %}">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="{% static 'new/default.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
</head>

<body class="legislation">
	{% include "new/footer.html" %}
	{% include "new/breadcrumbs.html" %}
	<main>
		<section class="legislation-header">
			<h1 id="main-content-h" tabindex="-1"><span>Section 25F: Interpretation</span><span class="sr-only"> of the </span>Transparency of Lobbying, Non-Party Campaigning and Trade Union Administration Act 2014</h1>
			<nav aria-label="Previous and next, table of contents">
				<h2 class="sr-only">Table of contents, previous and next provisions</h2>
				<a href="#" class="previous"><span class="sr-only"><span class="sr-only">Previous: </span>Section 25</span></a>
				<span class="toc-link"><a href="#">Table of contents</a></span>
				<a href="#" class="next"><span class="sr-only"><span class="sr-only">Next: </span>Section 26</span></a>
			</nav>
		</section>
		<section class="pit-search">
			<div>
				<h2 class="sr-only">View this legislation at a specific date</h2>
				<p>You are viewing Section 25F as it is today, <button id="pit-btn" aria-expanded="false">09 Dec 2024<span class="sr-only"> Enter a date or choose from the versions below</span></button></p>
				<form role="search" id="pit-search" hidden="">
					<h3 class="sr-only">Change the date</h3>
					<label for="pitDate">Date:</label><input type="date" id="pitDate" name="pitDate" value="2024-12-09"><button class="go">Go</button>
				</form>
			</div>
		</section>
		{% include "new/timeline.html" %}
		<div class="section legislation-main">
			{% include "new/legislation_metadata.html" %}
			{% include "new/legislation_text.html" %}
		</div>
	</main>
	{% include "new/footer.html" %}

</body>
</html>
