<aside id="legislation-metadata" class="legislation-metadata">
    <h2 class="sr-only">Legislation information</h2>
    
    <div class="up-to-date">
        <h3 class="sr-only">Up to date status</h3>
        <p>Section 25F is up to date with all changes as of <span>09 Dec 2024</span></p>
        <a href="#">See all changes made to and by this Act</a>
    </div>
    
    <div class="geographical-extent">
        <h3 class="sr-only">Geographical extent</h3>
        <p>Section 25F contains law for the whole of the UK</p>
        <a href="extent.php">See all geographical extent information for this Act</a>
    </div>
    
    <div class="in-force">
        <h3 class="sr-only">In force status</h3>
        <p>Section 25F is wholly in force</p>
        <a href="#commencement" class="sr-only">Skip to the in force detail</a>
        <button class="" id="commencementAlt" aria-expanded="false" aria-controls="commencementDetail">Show in force information</button>
        <a href="#">See all in force information for this Act</a>
    </div>
    
    <div class="associated-documents">
        <h3 class="sr-only">Associated documents</h3>
        <p>When published, legislation is often accompanied by other documents, including correction slips, codes of practice, tables of origins and impact assessments.</p>
        <a href="#">See all associated documents</a>
    </div>

    <div class="other-formats">
        <div id="other-formats">
            <h3>
                <button id="other-formats-header" aria-expanded="false" aria-controls="other-formats-panel">PDFs and other formats</button>
            </h3>
            <div id="other-formats-panel" aria-labelledby="other-formats-header" class="" hidden="hidden">
                <h4>Section 25F <span>on <span>09 Dec 2024</span></span></h4>
                <ul>
                    <li>
                        <a href="{{ links.this.xml }}">Data XML<span class="sr-only"> of Section 25F</span></a>
                    </li>
                    <li>
                        <a href="#">PDF<span class="sr-only"> of Section 25F</span></a>
                    </li>
                    <li>
                        <a href="#">HTML<span class="sr-only"> of Section 25F</span></a>
                    </li>
                    <li>
                        <a href="#">MS Word<span class="sr-only"> of Section 25F</span></a>
                    </li>
                    <li>
                        <a href="#">XHTM<span class="sr-only"> of Section 25F</span></a>
                    </li>
                </ul>
                <h4>The Whole Act <span>on <span>09 Dec 2024</span></span></h4>
                <ul>
                    <li>
                        <a href="{{ links.whole.xml }}">Data XML<span class="sr-only"> of the whole act</span></a>
                    </li>
                    <li>
                        <a href="#">PDF<span class="sr-only"> of the whole act</span></a>
                    </li>
                    <li>
                        <a href="#">HTML<span class="sr-only"> of the whole act</span></a>
                    </li>
                    <li>
                        <a href="#">MS Word<span class="sr-only"> of the whole act</span></a>
                    </li>
                    <li>
                        <a href="#">XHTM<span class="sr-only"> of the whole act</span></a>
                    </li>
                </ul>
                <h4>Table of contents</h4>
                <ul>
                    <li>
                        <a href="{{ links.toc.xml }}">Data XML<span class="sr-only"> of the table of contents</span></a>
                    </li>
                    <li>
                        <a href="#">PDF<span class="sr-only"> of the table of contents</span></a>
                    </li>
                    <li>
                        <a href="#">HTML<span class="sr-only"> of the table of contents</span></a>
                    </li>
                    <li>
                        <a href="#">MS Word<span class="sr-only"> of the table of contents</span></a>
                    </li>
                    <li>
                        <a href="#">XHTM<span class="sr-only"> of the table of contents</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
