<!-- default annotations -->
<section class="legislation-text" id="legislation-text" data-id="default-annotations">
    <div class="status-panels" statuspanelsid="2" style="z-index: 20;">
        <div id="scrollStart-commencement"></div>
        <section class="status-panel commencement" id="commencement" paneltype="commencement" paddingrequired="0" pinnedstatuspanelid="">
            
            <div class="status-hdr">
                
                <h2>Section 25F is wholly in force</h2>
                
                <div class="">
                    <button class="hdrCtrl" id="commencementHdr" aria-expanded="false" aria-controls="commencementDetail">See all in-force information</button>
                    <button class="pin">Pin this panel</button>
                </div>
            </div>
            <div class="status-detail" id="commencementDetail" aria-labelledby="commencementHdr" hidden="hidden">
                <div class="affecting-legislation alternative">
                    <h3 class="sr-only">Commencement orders</h3>
                    <p>s. 25F in force at 23 May 2014 by <a href="#">S.I. 2014/1236</a>, <a href="#">art. 2(1)(e)</a></p>
                    <div class="affecting-legislation-item">
                        <h4>The Transparency of Lobbying, Non-Party Campaigning and Trade Union Administration Act 2014 (Commencement and Transitional Provision No. 1) Order 2014, <a href="#">art. 2(1)(e)</a></h4>
                        <div class="affecting-legislation-detail" tabindex="0">
                            <ol>
                                <li data-level="art. 1" value="1"><h5>
                                    <span class="prefix">
                                        <span class="marker">art. 2 </span>
                                    </span>Provisions coming into force</h5>
                                    <ol>
                                        <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(1) </span></span>The following provisions of the Act, so far as not already in force, come into force on 23rd May 2014–
                                            <ol type="a">
                                                <li data-level="5" value="5">
                                                    <span class="prefix">
                                                        <span class="marker">(e) </span>
                                                    </span>section 25F (interpretation);
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>												
                </div>	
            </div>
        </section>
    </div>
    <h2 class="sr-only">Legislation text 25F</h2>
    <ol>
        <li data-level="25F" value="25" type="none" class="">
            
            <span class="prefix">
                <span class="wrapper">
                    <span class="annotation-start commencement-annotation" id="annt-I1">
                        <span class="sr-only">(Editorial note: the following text is subject to an commencement order) </span>
                        <a href="#legislation-footnotes">I1</a>
                    </span><span class="marker">25F </span>
                </span>
            </span>
            <h3>Interpretation <!--span class="prospective"><span class="sr-only">Section 25F is </span>Prospective</span--></h3>
            <ol>
                <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(1) </span></span>In this Part—
                    <ul type="none">
                        <li>“consultant lobbyist” means a person who carries on the business of consultant lobbying;</li>
                        <li>
                            <span class="prefix">
                                <span class="annotation-start" id="annt-F1">
                                    <span class="sr-only">(Editorial note: the following text is subject to an amendment) </span>
                                    <a href="#legislation-footnotes">F1</a>
                                </span>
                            </span>
                            “employee” means an individual who works under a contract of employment;
                        </li>
                        <li>
                            to “engage in lobbying” means to make a communication within section 2(3) on behalf of another person or persons;<span class="annotation-end"><span class="sr-only"> (Editorial note: end of text subject to that amendment)</span></span>
                        </li>
                        <li>“information notice” means a notice under section 9;</li>
                        <li>“the Minister” means the Secretary of State or the Lord President of the Council;</li>
                        <li>“payment”, “in return for payment” and references to receiving payment are to be read in accordance with paragraphs 5 to 7 of Schedule 1;</li>
                        <li>“penalty notice” means a notice under section 16;</li>
                        <li>“quarter” means each period of three months beginning with 
                            <span class="annotation-start" id="annt-F2">
                                <span class="sr-only">(Editorial note: the following text is subject to an amendment) </span>
                                <a href="#legislation-footnotes">F2</a>
                            </span>1 January, 1 April, 1 July or <span class="annotation-end">
                                <span class="sr-only">(Editorial note: end of text subject to that amendment) </span>
                            </span>1 October;</li>
                        <li>“registered person” means a person entered in the register of consultant lobbyists;</li>
                        <li>“the Tribunal” means—
                            <ol type="a">
                                <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(a) </span></span>the First-tier Tribunal, or</li>
                                <li value="2"><span class="prefix"><span aria-hidden="true" class="marker">(b) </span></span>in any case where it is determined by or under Tribunal Procedure Rules that the appeal is to be heard by the Upper Tribunal, that Tribunal.
                                    <ol type="i">
                                        <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(i) </span></span>one or more particular registered parties,</li>
                                        <li value="2"><span class="prefix"><span aria-hidden="true" class="marker">(ii) </span></span>one or more registered parties who advocate (or do not advocate) particular policies or who otherwise fall within a particular category of such parties, or</li>
                                        <li value="3"><span class="prefix"><span aria-hidden="true" class="marker">(iii) </span></span>candidates who hold (or do not hold) particular opinions or who advocate (or do not advocate) particular policies or who otherwise fall within a particular category of candidates.”</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li value="4235">
                    <span class="prefix"><span aria-hidden="true" class="marker">(4235) </span></span>
                    Section 85 of the Political Parties, Elections and Referendums Act 2000 (controlled expenditure by third parties) is amended in accordance with subsections (2) to (6).<span class="annotation-end">
                        <span class="sr-only"> (Editorial note: end of text subject to that amendment)</span>
                    </span>
                </li>
                <li data-level="703C" value="703" type="none">
                    <span class="prefix">
                        <span class="wrapper">
                            <span class="annotation-start" id="annt-F7949">
                                <span class="sr-only">(Editorial note: the following text is subject to an amendment) </span>
                                <a href="#legislation-footnotes">F7949</a>
                            </span><span class="marker">(703C) </span>
                            
                        </span>
                    </span>
                    Section 94 of that Act (limits on controlled expenditure by third parties) is amended in accordance with subsections (9) and (10).</li>
                <li data-level="703D" value="703" type="none">
                  <span class="prefix">
                      
                          <span class="marker">(703D) </span>
                      
                  </span>
                  Where the Registrar is required or permitted to serve a notice on a person, this is to be effected—
                    <ol type="a" class="">
                        <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(a) </span></span>
                            if the person is a registered company (within the meaning of the Companies Act 2006), by sending it by post to the company’s registered office;
                        </li>
                        <li value="2"><span class="prefix"><span aria-hidden="true" class="marker">(b) </span></span>
                            if the person is an individual, by delivering it in person, by sending it by post to the individual’s last known place of residence or business, or by leaving it at that place;
                        </li>
                        <li value="3"><span class="prefix"><span aria-hidden="true" class="marker">(c) </span></span>
                            in any other case, by sending it by post to the last known main address of that person;
                        </li>
                    </ol>
                  (but this does not prevent the Registrar from sending additional copies of the notice by whatever means the Registrar considers appropriate).<span class="annotation-end">
                      <span class="sr-only"> (Editorial note: end of text subject to that amendment)</span>
                  </span>
                </li>
                <li value="704"><span class="prefix"><span aria-hidden="true" class="marker">(704) </span></span>In determining whether material can reasonably be regarded as intended to promote or procure electoral success</li>
                <li value="705"><span class="prefix"><span aria-hidden="true" class="marker">(705) </span></span>The reference to doing any of the things mentioned in that subsection includes doing so by prejudicing the electoral prospects<span class="annotation-end commencement-annotation"><span class="sr-only"> (Editorial note: end of text subject to commencement order I1)</span></span></li>
            </ol>
        </li>
        <li data-level="25G" value="25" type="none">
            <span class="prefix">
                <span class="wrapper">
                    <span class="annotation-start" id="annt-F7950">
                        <span class="sr-only">(Editorial note: the following text is subject to an amendment) </span>
                        <a href="#legislation-footnotes">F7950</a>
                    </span><span class="marker">25G 
                    </span>
                </span>
            </span>
            <h3>Meaning of "controlled expenditure"<span class="annotation-end"><span class="sr-only"> (Editorial note: end of text subject to that amendment)</span>
                </span></h3>
            <ol>
                <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(1) </span></span>Section 94 of the Political Parties, Elections and Referendums Act 2000 (limits on controlled expenditure by third parties) is amended in accordance with subsections (2) to (6).</li>
                <li value="2"><span class="prefix"><span aria-hidden="true" class="marker">(2) </span></span>In subsection (3), for paragraph (a) (but not the “and” after it) substitute—
                    <ol type="a">
                        <li value="1"><span class="prefix">"<span aria-hidden="true" class="marker">(a) </span></span>either—
                            <ol type="i">
                                <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(i) </span></span>during a regulated period, any controlled expenditure is incurred in a part of the United Kingdom by or on behalf of a third party in excess of the limit for that part of the United Kingdom mentioned in subsection (5), or</li>
                                <li value="2"><span class="prefix"><span aria-hidden="true" class="marker">(ii) </span></span>during a regulated period in relation to which any limit is imposed by paragraph 3, 9, 10 or 11 of Schedule 10 (periods involving parliamentary general elections), any controlled expenditure is incurred in a particular parliamentary constituency by or on behalf of a third party in excess of the limit mentioned in subsection (5ZA),".</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>					
        </li>
        <li value="26"><span class="prefix"></span>
            <h3><span class="prefix"><span aria-hidden="true" class="marker">26 </span></span>Arrangements between third parties notified to the Electoral Commission</h3>
            <ol>
                <li value="1"><span class="prefix"><span aria-hidden="true" class="marker">(1) </span></span>Part 6 of the Political Parties, Elections and Referendums Act 2000 (controls relating to third party national election campaigns) is amended as follows.</li>
                <li value="2"><span class="prefix"><span aria-hidden="true" class="marker">(2) </span></span>References in subsection (6) to controlled expenditure incurred by or on behalf of the third party include controlled expenditure that is, by virtue of section 94(6), treated for the purposes of section 94 and Schedule 10 as so incurred.</li>
            </ol>
        </li>
    </ol>
    <aside class="legislation-footnotes" id="legislation-footnotes">
        
        <h2 class="up-to-date">Changes to the text since enactment</h2>
        <dl>
            <dt><a href="#annt-F1">F1</a></dt>
            <dd>Words in s. 25F(1) substituted (9.11.2016) by <a href="#">The Transfer of Functions (Elections, Referendums, Third Sector and Information) Order 2016 (S.I. 2016/997)</a>, <a href="#">art. 1(2)</a>, <a href="#">Sch. 2 para. 27(a)</a> (with <a href="#">art. 12</a>)</dd>
            <dt><a href="#annt-F2">F2</a></dt>
            <dd>Words in s. 25F(1) substituted by <a href="#">S.I. 1990/144</a>, <a href="#">regs. 2(3)</a>, <a href="#">Sch. 3 para. 1(b)</a></dd>
            <dt><a href="#annt-F7949">F7949</a></dt>
            <dd>Words in s. 25F(4235) substituted by <a href="#">S.I. 1990/144</a>, <a href="#">regs. 2(3)</a>, <a href="#">Sch. 3 para. 1(c)</a></dd>
            <dt><a href="#annt-F7905">F7950</a></dt>
            <dd>Words in s. 25F(703C, 703D) substituted by <a href="#">S.I. 1990/144</a>, <a href="#">regs. 2(3)</a>, <a href="#">Sch. 3 para. 1(d)</a></dd>
        </dl>
        <h2 class="in-force">Commencement Information</h2>
        <dl class="commencement-annotation">
            <dt><a href="#annt-I1">I1</a></dt>
            <dd>s. 25F in force at 23 May 2014 by <a href="#">S.I. 2014/1236</a>, <a href="#">art. 2(1)(e)</a></dd>
        </dl>
    </aside>
</section>
