<!-- default timeline -->
<section class="timeline" id="timeline" data-id="default">
    <h2 class="sr-only">Timeline with all versions of this legislation</h2>
    <button id="open-versions" class="current">
        <span>
            <span class="version"><span class="prefix">You are viewing </span><span class="title">The current version</span></span> 
            <span class="date">as amended on <span>08 Aug 2022</span></span>
            <span class="cta">See all versions</span>
        </span>
    </button>
    <div class="versions" id="versions">
        <div class="nav-hdr">
            <h2 class="">Timeline of versions</h2>
            <button class="close-menu" id="close-versions" aria-label="Close menu">Close</button>
        </div>
        <nav aria-label="Timeline of versions">
            <ol>
                <li class="original">
                    <a href="javascript:void(0);">
                        <span class="version"><span class="title">The original version</span></span> 
                        <span class="date">as enacted on <span>23 May 2014</span></span>
                    </a>
                </li>
                <li class="current" aria-current="page">
                    <a href="javascript:void(0);">
                        <span class="version"><span class="title">The current version</span></span> 
                        <span class="date">as amended on <span>08 Aug 2022</span></span>
                    </a>
                </li>
            </ol>
        </nav>
         <div class="scrollbar">
            <h3 class="sr-only">Scrollbar to access all versions on the timeline. Keyboard-only users already have access to all versions.</h3>
            <button class="left" disabled=""><span class="sr-only">Scroll left</span></button>
            <div class="drag-strip"><div class="drag ui-draggable ui-draggable-handle" draggable="true" style="position: relative;"><span class="sr-only">Drag horizontally to scroll timeline</span></div></div>
            <button class="right"><span class="sr-only">Scroll right</span></button>
        </div>
    </div>
</section>
