{% extends "new_theme/base.html" %}
{% block content %}
	<main>
		<section>
			<nav aria-label="Breadcrumb">
				<h2>Where this page sits</h2>
				<ol>
					<li><a href="{% url 'homepage' %}">Home</a></li>
					<li><a href="{% url 'help' %}" aria-current="page">Help and guidance</a></li>
				</ol>
			</nav>
			<h1 id="main-content-h" tabindex="-1">Help and guidance</h1>
		</section>

		<section class="cards icon-cards">
			<p>
				Find out how legislation works, from drafting a bill to gaining Royal Assent. Discover the types of legislation and accompanying explanatory documents we publish and update, and how we apply amendments. Get hints and tips on finding and navigating legislation, using the timeline, reviewing annotations in amended legislation, and understanding a piece of legislation's status, including its geographical extent.
			</p>

			<h2>Main sections in Help and guidance</h2>
			<ul>
				<li>
					<a class="icon_what_legislation_we_hold" href="#">
						<h3>What legislation we hold</h3>
						<p>We hold most, but not all, types of legislation and their accompanying explanatory documents. See a comprehensive list of what we do hold.</p>
					</a>
				</li>
				<li>
					<a class="icon_how_legislation_works" href="{% url 'how-legislation-works' %}">
						<h3>How legislation works</h3>
						<p>Find out how laws get made, what the various terms mean, how certain legislation changes other legislation, and what revised legislation is.</p>
					</a>
				</li>
				<li>
					<a class="icon_what_legislation_applies_uk" href="#">
						<h3>What legislation applies in the UK</h3>
						<p>Chronological lists detailing changes to Local, and Private and Personal Acts, between 1539 and 2008.</p>
					</a>
				</li>
				<li>
					<a class="icon_tips_on_reading_legislation" href="#">
						<h3>Tips on reading legislation</h3>
						<p>Public access to court judgments and tribunal decisions is an essential part of interpreting legislation. Explore The National Archives' Find Case Law service.</p>
					</a>
				</li>
				<li>
					<a class="icon_how_to_use_website" href="#">
						<h3>How to use this website</h3>
						<p>How to navigate and interact with the website, find changes to legislation, see different versions, use search, understand annotations and more...</p>
					</a>
				</li>
				<li>
					<a class="icon_editorial_process" href="#">
						<h3>Our editorial process</h3>
						<p>Find out what legislation we revise, our timescales for revision, the conventions we follow and the principles that we abide by.</p>
					</a>
				</li>
				<li>
					<a class="icon_glossary" href="#">
						<h3>Glosary of terms</h3>
						<p>You may not immediately understand certain words and phrases in the context of legislation. Find out exactly what they mean here.</p>
					</a>
				</li>
				<li>
					<a class="icon_accessibility_statement" href="#">
						<h3>Accessibility statement</h3>
						<p>Accessibility is very important to us. We want as many people as possible to be able to use this website. Find out how accessible our website is.</p>
					</a>
				</li>
				<li>
					<a class="icon_statutory_instrument_practice" href="#">
						<h3>Statutory Instrument Practice</h3>
						<p>A technical document for lawyers and drafters involved in preparing and making Statutory Instrument.</p>
					</a>
				</li>
				<li>
					<a class="icon_documentation_developers" href="#">
						<h3>Documentation for developers</h3>
						<p>Technical documentation for development teams working with the legislation data API.</p>
					</a>
				</li>
				<li>
					<a class="icon_faqs" href="#">
						<h3>FAQs</h3>
						<p>Frequently asked questions about legislation and the legislation.gov.uk website.</p>
					</a>
				</li>
				<li>
					<a class="icon_contact_us" href="#">
						<h3>Contact us</h3>
						<p>Get in touch to ask a question or to provide feedback about the legislation.gov.uk website.</p>
					</a>
				</li>
			</ul>
		</section>
	</main>

{% endblock %}