{% extends "new_theme/base.html" %}
{% block content %}
<main>
    <section>
        <nav aria-labelledby="breadcrumbNavigation">
            <h2 id="breadcrumbNavigation">Where this page sits</h2>
            <ol>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'help' %}">Help and guidance</a></li>
                <li><a href="{% url 'how-legislation-works' %}">How legislation works</a></li>
                <li><a href="{% url 'revised-legislation' %}" aria-current="page">Revised legislation explained</a></li>
            </ol>
        </nav>
        <h1 id="main-content-h" tabindex="-1">Revised legislation explained</h1>
    </section>

    <section>
        <p>By 'revised' we mean that amendments made by subsequent legislation are incorporated into the text. Legislation and the revision process are necessarily complex and these pages are intended to provide more comprehensive guidance about the legislation on the website, the editorial process and how revised legislation is presented.</p>
        <p>Revised legislation is maintained by the Legislation Services Team of the National Archives in London and the staff of the Northern Ireland Statutory Publications Office in Belfast.</p>
        <p>Read more about <a href="#">which revised legislation we hold</a>.</p>

        <h2>The official revised version of the statute book for the UK</h2>
        <p>"The statute book" is a term we use to mean all the primary legislation of a public general nature in force at any particular time. The revised legislation on legislation.gov.uk is the official revised version of the statute book for the UK in electronic form. Previously accessible only to a limited number of users in government, it was first made available online to the public in December 2006 as the <a href="https://webarchive.nationalarchives.gov.uk/ukgwa/20110110161134/http://www.statutelaw.gov.uk/">UK Statute Law Database</a> (SLD). In July 2010, legislation.gov.uk was launched, incorporating both the revised legislation content from SLD and the "as enacted" legislation from the website of the <a href="https://webarchive.nationalarchives.gov.uk/ukgwa/20101217160514/http://www.opsi.gov.uk/">Office of Public Sector Information</a> (OPSI).</p>

        <h2>The main sources of revised legislation</h2>

        <h3>Statutes in Force</h3>
        <p>The originating text of the revised primary content was derived mainly from the publication Statutes in Force (SIF), a 'loose-leaf' style official edition of the revised statute book arranged according to subject matter. SIF was regularly updated with the effects of new legislation made until 01 Feb 1991. The date of this final revision became the 'base date' from which the revised legislation has been taken forward.</p>
        <p>The SIF text in turn derived from a series of earlier official revised editions, principally The Statutes Revised. The main source of the original text of these editions was The Statutes of the Realm, published between 1810 and 1828, which contained the full text of public Acts enacted by the English Parliament (which encompassed Wales) until the Union of England and Scotland in 1707 and by the Parliament of Great Britain from 1707 until the end of the Reign of Queen Anne in 1814. The text of Scottish Acts enacted before the Union had its origin in The Acts of the Parliaments of Scotland (the "Record Edition") published between 1814 and 1875.</p>
        <p>New legislation made since the base date has been added, including that of the devolved legislatures in Scotland, Wales and Northern Ireland. From the base date onwards, both primary and secondary legislation are held, though it remains the case at present that only primary legislation is revised.</p>

        <h3>The Northern Ireland Statutes Revised</h3>
        <p>The second main source of the revised legislation is The Northern Ireland Statutes Revised, the official revised version of the primary legislation of Northern Ireland. The content of the numbered volumes and their supplements, covering the period from 1921 onwards, has been incorporated into the revised legislation on legislation.gov.uk as it stood at 31 Dec 2005. The content of volumes A to D, containing pre-1921 Acts of the UK Parliament and its predecessor parliaments extending to Northern Ireland, will be incorporated as soon as possible. The revision work on the Northern Ireland statutes is now being carried forward with a separate Northern Ireland base date of 01 Jan 2006.</p>
        <p>Our intention has been to make the incorporation of the Northern Ireland statutes into the revised legislation on legislation.gov.uk as seamless as possible, but users should be aware that there remain many variations in presentation between the Northern Ireland statutes and other legislation on the website. Some of the more significant of these variations have been noted throughout the Help and guidance section.</p>
        <p>Find out more about <a href="#">the history of Northern Ireland legislation</a>.</p>
    </section>

    <aside>
        <h2>You might also be interested in finding out about...</h2>
        <ul>
            <li><a href="#"><h3>How legislation is made</h3><p>Acts start out as Bills and only become part of the statute book once they have passed all stages of Parliamentary procedure and receive Royal Assent.</p></a></li>
            <li><a href="#"><h3>How legislation comes into force</h3><p>An Act of Parliament creates a new law or changes an existing law. Acts of Parliament make up Statute Law in the UK.</p></a></li>
            <li><a href="#"><h3>How legislation is amended</h3><p>Changes to the law happen through the passing of another Act or delegated legislation - find out how.</p></a></li>
            <li><a href="#"><h3>Primary legislation explained</h3><p>The different types of laws passed by the legislative bodies of the UK, such as the various Parliaments and Assemblies.</p></a></li>
            <li><a href="{% url 'secondary-legislation' %}"><h3>Secondary legislation explained</h3><p>The different types of delegated legislation made by a person or body under authority contained in primary legislation.</p></a></li>
        </ul>
    </aside>
</main>
{% endblock %}