{% extends "new_theme/base.html" %}
{% block content %}
<main>
    <section>
        <nav aria-label="Breadcrumb">
            <h2>Where this page sits</h2>
            <ol>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'help' %}">Help and guidance</a></li>
                <li><a href="{% url 'how-legislation-works' %}">How legislation works</a></li>
                <li><a href="{% url 'revised-legislation' %}" aria-current="page">Revised legislation explained</a></li>
            </ol>
        </nav>
        <h1 id="main-content-h" tabindex="-1">Revised legislation explained</h1>
    </section>

    <section>
        {{data.body | safe}}
    </section>

    <aside>
        <h2>You might also be interested in finding out about...</h2>
        <ul>
            <li><a href="#"><h3>How legislation is made</h3><p>Acts start out as Bills and only become part of the statute book once they have passed all stages of Parliamentary procedure and receive Royal Assent.</p></a></li>
            <li><a href="#"><h3>How legislation comes into force</h3><p>An Act of Parliament creates a new law or changes an existing law. Acts of Parliament make up Statute Law in the UK.</p></a></li>
            <li><a href="#"><h3>How legislation is amended</h3><p>Changes to the law happen through the passing of another Act or delegated legislation - find out how.</p></a></li>
            <li><a href="#"><h3>Primary legislation explained</h3><p>The different types of laws passed by the legislative bodies of the UK, such as the various Parliaments and Assemblies.</p></a></li>
            <li><a href="{% url 'secondary-legislation' %}"><h3>Secondary legislation explained</h3><p>The different types of delegated legislation made by a person or body under authority contained in primary legislation.</p></a></li>
        </ul>
    </aside>
</main>
{% endblock %}