{% extends "new_theme/base.html" %}
{% block content %}
<main>
    <section>
        <nav aria-label="Breadcrumb">
            <h2>Where this page sits</h2>
            <ol>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'help' %}">Help and guidance</a></li>
                <li><a href="{% url 'how-legislation-works' %}">How legislation works</a></li>
                <li><a href="{% url 'secondary-legislation' %}" aria-current="page">Secondary legislation explained</a></li>
            </ol>
        </nav>
        <h1 id="main-content-h" tabindex="-1">Secondary legislation explained</h1>
    </section>

    <section>
        <nav class="in-page-nav" aria-label="Main sections">
            <h2>Main sections of this page:</h2>
            <ol>
                <li><a href="#main-content-h">Secondary legislation explained</a></li>
                <li><a href="#uksi">Statutory Instruments (UK)</a></li>
                <li><a href="#srni">Statutory Rules of Northern Ireland</a></li>
                <li><a href="#ssi">Scottish Statutory Instruments</a></li>
                <li><a href="#wsi">Welsh Statutory Instruments</a></li>
                <li><a href="#ci">Church Instruments</a></li>
                <li><a href="#bl">Bye-Laws</a></li>
            </ol>
        </nav>

        <p>"Secondary legislation" (also called "subordinate legislation") is delegated legislation made by a person or body under authority contained in primary legislation. Typically, powers to make secondary legislation may be conferred on ministers, on the Crown, or on public bodies. For example, the Office of Communications (OFCOM) is given such powers by the <a href="/ukpga/2003/21/contents">Communications Act 2003</a>.</p>
        <p>The different types of secondary legislation are explained in detail below.</p>

        <h2 id="uksi" tabindex="-1">Statutory Instruments (UK)</h2>
        <p>These are instruments made under authority contained mainly in Acts of the UK Parliament. There are three main types of Statutory Instrument:</p>
        <ul>
            <li>Orders</li>
            <li>Regulations</li>
            <li>Rules</li>
        </ul>
        <p>However, there is no limit imposed on the descriptions that may be given to Statutory Instruments. Other examples include "Scheme", "Direction" and "Declaration". Different types of instruments serve different functions, but they all have the same legislative force.</p>
        <p>Welsh Statutory Instruments and the Orders in Council made under Northern Ireland Acts are included in the same numbering sequence as UK Statutory Instruments. They are distinguished within that sequence by a subsidiary number in brackets after the S.I. number, e.g. <strong>(W. 22)</strong>, <strong>(N.I. 15)</strong>.</p>
        <p>There are also UK Statutory Instruments relating exclusively to Scotland which are included in the UK numbering sequence and distinguished by a subsidiary number, e.g. <strong>(S. 27)</strong>. These are not to be confused with Scottish Statutory Instruments, which have their own <strong>SSI</strong> numbering sequence, as do Statutory Rules of Northern Ireland, which have their own <strong>SR</strong> numbering sequence separate from the UK <strong>SI</strong> sequence.</p>
        <p>Prior to 1948, when the Statutory Instruments Act 1946 came into force, the equivalent instruments were known as "Statutory Rules and Orders".</p>

        <h2 id="srni" tabindex="-1">Statutory Rules of Northern Ireland</h2>
        <p>Statutory Rules of Northern Ireland are the equivalent of Statutory Instruments for Northern Ireland. They may be made under authority contained in Acts of the Northern Ireland Assembly. They may also be made under authority contained in Acts of the UK Parliament or in the Orders in Council containing the primary legislation for Northern Ireland during periods of direct rule by the UK government (and which continue to be used for matters that have not been devolved to the Assembly).</p>
        <p>Statutory Rules of Northern Ireland have their own <strong>SR</strong> numbering sequence, separate from the UK <strong>SI</strong> sequence.</p>
        <p>Despite the name, Statutory Rules occur in the same three main types as Statutory Instruments:</p>
        <ul>
            <li>Orders</li>
            <li>Regulations</li>
            <li>Rules</li>
        </ul>
        <p>There may also be other descriptions of Statutory Rules.</p>

        <h2 id="ssi" tabindex="-1">Scottish Statutory Instruments</h2>
        <p>Scottish Statutory Instruments are instruments made since 1999 under authority contained in Acts of the Scottish Parliament. They have their own <strong>SSI</strong> numbering sequence, separate from the UK <strong>SI</strong> sequence.</p>
        <p>As in the case of UK Statutory Instruments, there are three main types of Scottish Statutory Instrument:</p>
        <ul>
            <li>Orders</li>
            <li>Regulations</li>
            <li>Rules</li>
        </ul>
        <p>In addition, there are in Scotland rules of court contained in Statutory Instruments called "Acts of Sederunt" and "Acts of Adjournal". There may also be other descriptions of Scottish Statutory Instruments.</p>

        <h2 id="wsi" tabindex="-1">Welsh Statutory Instruments</h2>
        <p>Welsh Statutory Instruments are Statutory Instruments relating specifically to Wales. They form part of the same numbering sequence as UK Statutory Instruments but are distinguished within that sequence by a subsidiary number in brackets after the S.I. number, e.g. <strong>(W. 22)</strong>. They may be made under authority contained in Acts of the UK Parliament, Measures of the National Assembly for Wales or Acts of the National Assembly for Wales.</p>
        <p>Welsh Statutory Instruments are published in both Welsh and English languages.</p>

        <h2 id="ci" tabindex="-1">Church Instruments</h2>
        <p>Church instruments are made by the Archbishops of Canterbury and York under authority contained in Church Measures. They are sometimes also referred to in annotations to the revised legislation as "Archbishops' Instruments", and are used almost exclusively for the purpose of bringing Church Measures into force.</p>

        <h2 id="bl" tabindex="-1">Bye-Laws</h2>
        <p>Brief mention should be made of one other type of secondary legislation: bye-laws. This is legislation delegated to bodies such as local authorities, operators of transport systems or public utilities. The application of bye-laws is usually limited to a particular local area or the operations of a specific public body. Legislation.gov.uk does not publish bye-laws.</p>
    </section>

    <aside>
        <h2>You might also be interested in finding out about...</h2>
        <ul>
            <li><a href="#"><h3>How legislation is made</h3><p>Acts start out as Bills and only become part of the statute book once they have passed all stages of Parliamentary procedure and receive Royal Assent.</p></a></li>
            <li><a href="#"><h3>How legislation comes into force</h3><p>An Act of Parliament creates a new law or changes an existing law. Acts of Parliament make up Statute Law in the UK.</p></a></li>
            <li><a href="#"><h3>How legislation is amended</h3><p>Changes to the law happen through the passing of another Act or delegated legislation - find out how.</p></a></li>
            <li><a href="#"><h3>Primary legislation explained</h3><p>The different types of laws passed by the legislative bodies of the UK, such as the various Parliaments and Assemblies.</p></a></li>
            <li><a href="{% url 'revised-legislation' %}"><h3>Revised legislation explained</h3><p>Find out what revised legislation is, and what the main sources of revised legislation on this website are.</p></a></li>
        </ul>
    </aside>
</main>
{% endblock %}