{% extends "new_theme/base.html" %}
{% block content %}
<main>
    <section>
        <nav aria-labelledby="breadcrumbNavigation">
            <h2 id="breadcrumbNavigation">Where this page sits</h2>
            <ol>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'help' %}">Help and guidance</a></li>
                <li><a href="{% url 'how-legislation-works' %}">How legislation works</a></li>
                <li><a href="{% url 'secondary-legislation' %}" aria-current="page">Secondary legislation explained</a></li>
            </ol>
        </nav>
        <h1 id="main-content-h" tabindex="-1">Secondary legislation explained</h1>
    </section>

    <section>
        <nav class="in-page-nav" aria-label="Main sections">
            <h2>Main sections of this page:</h2>
            <ol>
                <li><a href="#main-content-h">Secondary legislation explained</a></li>
                <li><a href="#uksi">Statutory Instruments (UK)</a></li>
                <li><a href="#srni">Statutory Rules of Northern Ireland</a></li>
                <li><a href="#ssi">Scottish Statutory Instruments</a></li>
                <li><a href="#wsi">Welsh Statutory Instruments</a></li>
                <li><a href="#ci">Church Instruments</a></li>
                <li><a href="#bl">Bye-Laws</a></li>
            </ol>
        </nav>
        {{data.body | safe}}
    </section>

    <aside>
        <h2>You might also be interested in finding out about...</h2>
        <ul>
            <li>
                <article>
                    <a href="#"><h3>How legislation is made</h3><p>Acts start out as Bills and only become part of the statute book once they have passed all stages of Parliamentary procedure and receive Royal Assent.</p></a>
                </article>    
            </li>
            <li>
                <article>
                    <a href="#"><h3>How legislation comes into force</h3><p>An Act of Parliament creates a new law or changes an existing law. Acts of Parliament make up Statute Law in the UK.</p></a>
                </article>    
            </li>
            <li>
                <article>
                    <a href="#"><h3>How legislation is amended</h3><p>Changes to the law happen through the passing of another Act or delegated legislation - find out how.</p></a>
                </article>    
            </li>
            <li>
                <article>
                    <a href="#"><h3>Primary legislation explained</h3><p>The different types of laws passed by the legislative bodies of the UK, such as the various Parliaments and Assemblies.</p></a>
                </article>    
            </li>
            <li>
                <article>
                    <a href="{% url 'revised-legislation' %}"><h3>Revised legislation explained</h3><p>Find out what revised legislation is, and what the main sources of revised legislation on this website are.</p></a>
                </article>    
            </li>
        </ul>
    </aside>
</main>
{% endblock %}