{% extends "../base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{{ meta.title }}{% endblock %}

{% block head_middle %}
{% comment %} <link rel="canonical" href="https://www.legislation.gov.uk/{{ meta.link }}" />
<meta name="DC.title" content="{{ meta.title }}" />
<meta name="DC.language" scheme="ISO639-2" content="{{ meta.lang }}" />
<meta name="DC.publisher" content="{{ meta.publisher }}" />
<meta name="DC.Date.Modified" content="{{ meta.modified }}" />
<link rel="alternate" type="application/xml" href="/ukpga/2018/1/enacted/data.xml" />
<link rel="alternate" type="application/rdf+xml" href="/ukpga/2018/1/enacted/data.rdf" title="RDF/XML" />
<link rel="alternate" type="application/akn+xml" href="/ukpga/2018/1/enacted/data.akn" title="AKN" />
<link rel="alternate" type="application/xhtml+xml" href="/ukpga/2018/1/enacted/data.xht" title="HTML snippet" />
<link rel="alternate" type="text/html" href="/ukpga/2018/1/enacted/data.htm" title="Website (XHTML) Default View" />
<link rel="alternate" type="application/pdf" href="/ukpga/2018/1/enacted/data.pdf" title="PDF" />
<link rel="alternate" type="application/akn+xhtml" href="/ukpga/2018/1/enacted/data.html" title="HTML5 snippet" />
<link rel="alternate" type="application/pdf" href="/ukpga/2018/1/pdfs/ukpga_20180001_en.pdf" title="Original PDF" />
<link rel="index" href="/ukpga/2018/1/contents/enacted" title="Table of Contents" />
<meta name="Legislation.year" content="2018" /> {% endcomment %}
<!-- <link rel="stylesheet" href="{% static 'primary.css' %}" type="text/css" /> -->
<link rel="stylesheet" href="{% static 'lgu1/styles/view/changesOverTime.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'lgu1/scripts/jquery-ui-1.8.24.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/jquery.ui.slider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/scrollbar.js' %}"></script>
{% endblock %}

{% block body_id %}leg{% endblock %}
{% block body_class %}browse{% endblock %}

{% block layout2_class %}legComplete{% endblock %}
{% block layout2 %}
			<h1 id="pageTitle" class="pageTitle">{{ meta.title }}</h1>
			<div id="breadCrumb">
				<h2 class="accessibleText">You are here:</h2>
				<ul>
					<li class="first">
						<a href="{% url 'browse' meta.shortType %}">{% translate type_label_plural %}</a>
					</li>
					<li>
						<a href="{{ meta.link }}">{{ meta.cite }}</a>
					</li>
					<li class="activetext">{% translate 'Whole Act' %}</li>
				</ul>
			</div>
			<ul id="legSubNav">
				<li id="legTocLink">
					<span class="presentation"></span>
					<a href="{{ links.toc }}">{% translate 'Table of Contents' %}</a>
				</li>
				<li id="legContentLink">
					<span class="presentation"></span>
					<a href="{{ links.content }}" class="disabled">{% translate 'Content' %}</a>
				</li>
				<li id="legEnLink">
					<span class="presentation"></span>
					<a href="{{ links.notes }}">{% translate 'Explanatory Notes' %}</a>
					<a href="#enTabHelp" class="helpItem helpItemToBot">
						<img src="{% static 'lgu1/images/chrome/helpIcon.gif' %}" alt=" Help about Explanatory Notes" />
					</a>
				</li>
				<li id="legResourcesLink">
					<span class="presentation"></span>
					<a href="{{ links.resources }}">{% translate 'More Resources' %}</a>
					<a href="#moreResourcesTabHelp" class="helpItem helpItemToBot">
						<img src="{% static 'lgu1/images/chrome/helpIcon.gif' %}" alt=" Help about More Resources" />
					</a>
				</li>
			</ul>
			<div class="interface">
				{% include "document/prev_next.html" %}
				<ul id="viewPrintControl">
					<li class="view">
						<a class="userFunctionalElement" href="?view=plain">
							<span class="btl"></span>
							<span class="btr"></span>
							{% translate 'Plain View' %}
							<span class="bbl"></span>
							<span class="bbr"></span>
						</a>
					</li>
					<li class="print">
						<a class="userFunctionalElement" href="#printOptions">
							<span class="btl"></span>
							<span class="btr"></span>
							{% translate 'Print Options' %}
							<span class="bbl"></span>
							<span class="bbr"></span>
						</a>
					</li>
				</ul>
			</div>
			{% include "document/left.html" %}
			<div id="content">
				{% if timeline %}
					{% include "document/timeline.html" %}
				{% endif %}
				{% if status_message %}
				<div id="infoSection">
					<h2>Status:</h2>
					<p class="intro">{{ status_message }}</p>
				</div>
				{% endif %}
				<div id="viewLegContents" xml:lang="en" style="padding-left:12pt">
					<template shadowrootmode="open">
						<style type="text/css"> @import "{% static 'primary.css' %}"; </style>
						{{ article|safe }}
					</template>
				</div>
				<div class="contentFooter">
					<div class="interface">
						{% include "document/prev_next.html" %}
					</div>
				</div>
				<p class="backToTop"><a href="#top">Back to top</a></p>
			</div>
{% endblock %}

{% block after_layout2 %}
		<h2 class="interfaceOptionsHeader">Options/Help</h2>
		<div id="printOptions" class="interfaceOptions ">
			<h3 class="accessibleText">Print Options</h3>
			<ul class="optionList">
				<li class="printWhole">
					<h4>
						<span class="accessibleText">Print</span>
						The Whole Act
					</h4>
					<ul>
						<li>
							<a class="pdfLink" href="/ukpga/2018/1/enacted/data.pdf" target="_blank">
								PDF
								<span class="accessibleText">The Whole Act</span>
							</a>
						</li>
						<li>
							<a class="htmLink" href="/ukpga/2018/1/enacted/data.xht?view=snippet&amp;wrap=true" target="_blank">
								Web page
								<span class="accessibleText">The Whole Act</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="help" id="whatversionHelp"><span class="icon"></span>
			<div class="content"><a href="#" class="close"><img alt="Close" src="{% static 'lgu1/images/chrome/closeIcon.gif' %}" /></a>
				<h3>Legislation is available in different versions:</h3>
				<p><strong>Latest Available (revised):</strong>The latest available updated version of the legislation
					incorporating changes made by subsequent legislation and applied by our editorial team. Changes we
					have not yet applied to the text, can be found in the ‘Changes to Legislation’ area.</p>
				<p><strong>Original (As Enacted or Made): </strong>The original version of the legislation as it stood
					when it was enacted or made. No changes have been applied to the text.</p>
			</div>
		</div>
		<div class="help" id="advFeaturesHelp"><span class="icon"></span>
			<div class="content"><a href="#" class="close"><img alt="Close" src="{% static 'lgu1/images/chrome/closeIcon.gif' %}" /></a>
				<h3>See additional information alongside the content</h3>
				<p><strong>Show Explanatory Notes for Sections:
					</strong>Displays relevant parts of the explanatory notes interweaved within the legislation
					content.</p>
			</div>
		</div>
		<div class="help" id="openingOptionsHelp"><span class="icon"></span>
			<div class="content"><a href="#" class="close"><img alt="Close" src="{% static 'lgu1/images/chrome/closeIcon.gif' %}" /></a>
				<h3>Opening Options</h3>
				<p>Different options to open legislation in order to view more content on screen at once</p>
			</div>
		</div>
		<div class="help" id="enTabHelp"><span class="icon"></span>
			<div class="content"><a href="#" class="close"><img alt="Close" src="{% static 'lgu1/images/chrome/closeIcon.gif' %}" /></a>
				<h3>Explanatory Notes</h3>
				<p>Text created by the government department responsible for the subject matter of the Act to explain
					what the Act sets out to achieve and to make the Act accessible to readers who are not legally
					qualified. Explanatory Notes were introduced in 1999 and accompany all Public Acts except
					Appropriation, Consolidated Fund, Finance and Consolidation Acts.</p>
			</div>
		</div>
		<div class="help" id="moreResourcesTabHelp"><span class="icon"></span>
			<div class="content"><a href="#" class="close"><img alt="Close" src="{% static 'lgu1/images/chrome/closeIcon.gif' %}" /></a>
				<h3>More Resources</h3>
				<p>Access essential accompanying documents and information for this legislation item from this tab.
					Dependent on the legislation item being viewed this may include:</p>
				<ul>
					<li>the original print PDF of the as enacted version that was used for the print copy</li>
					<li>lists of changes made by and/or affecting this legislation item</li>
					<li>confers power and blanket amendment details</li>
					<li>all formats of all associated documents</li>
					<li>correction slips</li>
					<li>links to related legislation and further information resources</li>
				</ul>
			</div>
		</div>
		<div class="help" id="moreResourcesHelp"><span class="icon"></span>
			<div class="content"><a href="#" class="close"><img alt="Close" src="{% static 'lgu1/images/chrome/closeIcon.gif' %}" /></a>
				<h3>More Resources</h3>
				<p>Use this menu to access essential accompanying documents and information for this legislation item.
					Dependent on the legislation item being viewed this may include:</p>
				<ul>
					<li>the original print PDF of the as enacted version that was used for the print copy</li>
					<li>correction slips</li>
				</ul>
				<p></p>
				<p>Click 'View More' or select 'More Resources' tab for additional information including:</p>
				<ul>
					<li>lists of changes made by and/or affecting this legislation item</li>
					<li>confers power and blanket amendment details</li>
					<li>all formats of all associated documents</li>
					<li>links to related legislation and further information resources</li>
				</ul>
			</div>
		</div>
{% endblock %}
