<li>
    {% if effect.target.provisions.rich %}
        {% for node in effect.target.provisions.rich %}
            {% if node.type == 'link' %}
                <b>{{ node.text }}</b>
            {% else %}
                <span>{{ node.text }}</span>
            {% endif %}
        {% endfor %}
    {% else %}
        <span>{{ effect.target.provisions.plain }}</span>
    {% endif %}
    <span>{{ effect.type }}</span>
    <span>by</span>
    <a href="/{{ effect.source.id }}">{{ effect.source.cite }}</a>
    {% spaceless %}
    {% for node in effect.source.provisions.rich %}
        {% if node.type == 'link' %}
            <a href="/{{ node.href }}">{{ node.text }}</a>
        {% elif node.text.strip %}
            <span>{{ node.text }}</span>
        {% else %}
            <span>&nbsp;</span>
        {% endif %}
    {% endfor %}
    {% endspaceless %}
</li>
