<div id="statusWarning" class="uptoDate">
    <div class="title">
        <h2>Changes to legislation:</h2>
        <p class="intro">Financial Services and Markets Act 2000, Section 91 is up to date with all
            changes known to be in force on or before 19 December 2024. There are changes that may be
            brought into force at a future date. Changes that have been made appear in the content and
            are referenced with annotations.<a href="#Scenario5Help" class="helpItem helpItemToBot"><img
                    src="/images/chrome/helpIcon.gif" alt=" Help about Changes to Legislation" /></a>
        </p>
        <div class="help" id="Scenario5Help"><span class="icon"></span>
            <div class="content"><a href="#" class="close"><img alt="Close"
                        src="/images/chrome/closeIcon.gif" /></a>
                <h3>Changes to Legislation</h3>
                <p>Revised legislation carried on this site may not be fully up to date. Changes and
                    effects are recorded by our editorial team in lists which can be found in the
                    ‘Changes to Legislation’ area. Where those effects have yet to be applied to the
                    text of the legislation by the editorial team they are also listed alongside the
                    legislation in the affected provisions. Use the ‘more’ link to open the changes and
                    effects relevant to the provision you are viewing.</p>
            </div>
        </div><a href="#statusWarningSubSections" class="expandCollapseLink">
            View outstanding changes

        </a>
        <div id="statusWarningSubSections">
            <div class="section" id="statusEffectsAppliedSection">
                <div class="title future">
                    <h3>Changes and effects yet to be applied to Section 91:</h3>
                </div>
                <div class="content" id="statusEffectsAppliedContent">
                    <ul>
                        {% for effect in meta.unappliedEffects %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                        <li>Act power to apply conferred (temp. until 15.5.2039) by <a
                                href="/id/ukpga/2014/21">2014 c. 21</a> <a
                                href="/id/ukpga/2014/21/section/79/4">s. 79(4)</a></li>
                        <li>Act power to apply conferred (temp. until 15.5.2039) by <a
                                href="/id/ukpga/2014/21">2014 c. 21</a> <a
                                href="/id/ukpga/2014/21/section/81/10">s. 81(10)</a></li>
                        <li><span class="LegAffected">Pt. 20C</span> inserted by <a
                                href="/id/ukpga/2016/14">2016 c. 14</a> <a
                                href="/id/ukpga/2016/14/section/30/3">s. 30(3)</a></li>
                        <li><span class="LegAffected">s. 31(1)(aa)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/22/2">s. 22(2)</a></li>
                        <li><span class="LegAffected">s. 32A</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/22/3">s. 22(3)</a></li>
                        <li><span class="LegAffected">s. 32A</span> power to apply (with modifications)
                            conferred by <a href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">s. 36A</span> and cross-heading inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/22/4">s. 22(4)</a></li>
                        <li><span class="LegAffected">s. 71J</span> and cross-heading inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/4">para. 4</a></li>
                        <li><span class="LegAffected">s. 214(5A)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/8">para. 8</a></li>
                        <li><span class="LegAffected">s. 234I(9)</span> inserted by <a
                                href="/id/ukpga/2024/13">2024 c. 13</a> <a
                                href="/id/ukpga/2024/13/schedule/29">Sch. 29 </a><a
                                href="/id/ukpga/2024/13/schedule/29/paragraph/3/2">para. 3(2)</a></li>
                        <li><span class="LegAffected">s. 234J(6)</span> inserted by <a
                                href="/id/ukpga/2024/13">2024 c. 13</a> <a
                                href="/id/ukpga/2024/13/schedule/29">Sch. 29 </a><a
                                href="/id/ukpga/2024/13/schedule/29/paragraph/3/3">para. 3(3)</a></li>
                        <li><span class="LegAffected">s. 367A</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/10">para. 10</a></li>
                        <li><span class="LegAffected">s. 395(13)(h)(i)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/12/2/c">para. 12(2)(c)</a>
                        </li>
                        <li><span class="LegAffected">s. 395(13)(bc)</span>-<span
                                class="LegAffected">(be)</span> word inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/12/2/b">para. 12(2)(b)</a>
                        </li>
                        <li><span class="LegAffected">s. 395(14)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/12/3">para. 12(3)</a></li>
                        <li><span class="LegAffected">Sch. 1ZA </span><span class="LegAffected">para.
                                32(c)</span> and word inserted by <a href="/id/ukpga/2021/22">2021 c.
                                22</a> <a href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/18">para. 18</a></li>
                        <li><span class="LegAffected">Sch. 2A</span> <span class="LegAffected">2B</span>
                            power to apply (with modifications) conferred by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">Sch. 2A</span> power to apply (with modifications)
                            conferred by <a href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">Sch. 2B</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/7">Sch. 7</a></li>
                        <li><span class="LegAffected">Sch. 2B</span> power to apply (with modifications)
                            conferred by <a href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">Sch. 6 </span><span class="LegAffected">para.
                                4A(8)</span> inserted by <a href="/id/uksi/2024/1083">S.I. 2024/1083</a>
                            <a href="/id/uksi/2024/1083/regulation/10/b">reg. 10(b)</a></li>
                    </ul>
                </div>
            </div>
            <div class="section" id="changesAppliedSection">
                <div class="title future">
                    <h3>Changes and effects yet to be applied to the whole Act associated Parts and
                        Chapters:</h3>
                </div>
                <div class="content" id="changesAppliedContent">
                    <ul>
                        <li>Act power to apply conferred (temp. until 15.5.2039) by <a
                                href="/id/ukpga/2014/21">2014 c. 21</a> <a
                                href="/id/ukpga/2014/21/section/79/4">s. 79(4)</a></li>
                        <li>Act power to apply conferred (temp. until 15.5.2039) by <a
                                href="/id/ukpga/2014/21">2014 c. 21</a> <a
                                href="/id/ukpga/2014/21/section/81/10">s. 81(10)</a></li>
                    </ul>
                    <p class="coIntro">Whole provisions yet to be inserted into this Act (including any
                        effects on those provisions):</p>
                    <ul>
                        <li><span class="LegAffected">Pt. 20C</span> inserted by <a
                                href="/id/ukpga/2016/14">2016 c. 14</a> <a
                                href="/id/ukpga/2016/14/section/30/3">s. 30(3)</a></li>
                        <li><span class="LegAffected">s. 31(1)(aa)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/22/2">s. 22(2)</a></li>
                        <li><span class="LegAffected">s. 32A</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/22/3">s. 22(3)</a></li>
                        <li><span class="LegAffected">s. 32A</span> power to apply (with modifications)
                            conferred by <a href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">s. 36A</span> and cross-heading inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/22/4">s. 22(4)</a></li>
                        <li><span class="LegAffected">s. 71J</span> and cross-heading inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/4">para. 4</a></li>
                        <li><span class="LegAffected">s. 214(5A)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/8">para. 8</a></li>
                        <li><span class="LegAffected">s. 234I(9)</span> inserted by <a
                                href="/id/ukpga/2024/13">2024 c. 13</a> <a
                                href="/id/ukpga/2024/13/schedule/29">Sch. 29 </a><a
                                href="/id/ukpga/2024/13/schedule/29/paragraph/3/2">para. 3(2)</a></li>
                        <li><span class="LegAffected">s. 234J(6)</span> inserted by <a
                                href="/id/ukpga/2024/13">2024 c. 13</a> <a
                                href="/id/ukpga/2024/13/schedule/29">Sch. 29 </a><a
                                href="/id/ukpga/2024/13/schedule/29/paragraph/3/3">para. 3(3)</a></li>
                        <li><span class="LegAffected">s. 367A</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/10">para. 10</a></li>
                        <li><span class="LegAffected">s. 395(13)(h)(i)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/12/2/c">para. 12(2)(c)</a>
                        </li>
                        <li><span class="LegAffected">s. 395(13)(bc)</span>-<span
                                class="LegAffected">(be)</span> word inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/12/2/b">para. 12(2)(b)</a>
                        </li>
                        <li><span class="LegAffected">s. 395(14)</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/12/3">para. 12(3)</a></li>
                        <li><span class="LegAffected">Sch. 1ZA </span><span class="LegAffected">para.
                                32(c)</span> and word inserted by <a href="/id/ukpga/2021/22">2021 c.
                                22</a> <a href="/id/ukpga/2021/22/schedule/8">Sch. 8 </a><a
                                href="/id/ukpga/2021/22/schedule/8/paragraph/18">para. 18</a></li>
                        <li><span class="LegAffected">Sch. 2A</span> <span class="LegAffected">2B</span>
                            power to apply (with modifications) conferred by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">Sch. 2A</span> power to apply (with modifications)
                            conferred by <a href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">Sch. 2B</span> inserted by <a
                                href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/schedule/7">Sch. 7</a></li>
                        <li><span class="LegAffected">Sch. 2B</span> power to apply (with modifications)
                            conferred by <a href="/id/ukpga/2021/22">2021 c. 22</a> <a
                                href="/id/ukpga/2021/22/section/23/10">s. 23(10)</a></li>
                        <li><span class="LegAffected">Sch. 6 </span><span class="LegAffected">para.
                                4A(8)</span> inserted by <a href="/id/uksi/2024/1083">S.I. 2024/1083</a>
                            <a href="/id/uksi/2024/1083/regulation/10/b">reg. 10(b)</a></li>
                    </ul>
                </div>
            </div>
        </div><span></span>
    </div>
</div>
