<div id="statusWarning" class="{% if meta.upToDate %}uptoDate{% endif %}">
    <div class="title">
        <h2>Changes to legislation:</h2>
        <p class="intro">
            <span>{{ status.message }}</span>
            <a href="#Scenario5Help" class="helpItem helpItemToBot">
                <img src="/images/chrome/helpIcon.gif" alt=" Help about Changes to Legislation" />
            </a>
        </p>
        <div class="help" id="Scenario5Help">
            <span class="icon"></span>
            <div class="content">
                <a href="#" class="close">
                    <img alt="Close" src="/images/chrome/closeIcon.gif" />
                </a>
                <h3>Changes to Legislation</h3>
                <p>Revised legislation carried on this site may not be fully up to date. Changes and
                    effects are recorded by our editorial team in lists which can be found in the
                    ‘Changes to Legislation’ area. Where those effects have yet to be applied to the
                    text of the legislation by the editorial team they are also listed alongside the
                    legislation in the affected provisions. Use the ‘more’ link to open the changes
                    and effects relevant to the provision you are viewing.</p>
            </div>
        </div>
        <a href="#statusWarningSubSections" class="expandCollapseLink">View outstanding changes</a>
        <div id="statusWarningSubSections">
            {% if status.effects.direct.outstanding or status.effects.direct.future or status.effects.direct.unrequired %}
            <div class="section" id="statusEffectsAppliedSection" style="border-left:none">
                <div class="title future">
                    <h3>Changes and effects yet to be applied to {{ status.label }}:</h3>
                </div>
                <div class="content" id="statusEffectsAppliedContent">
                    {% comment %} <ul>
                        {% for effect in status.direct_effects %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                    </ul> {% endcomment %}
                    {% if status.effects.direct.outstanding %}
                    <p class="coIntro">Outstanding:</p>
                    <ul>
                        {% for effect in status.effects.direct.outstanding %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if status.effects.direct.future %}
                    <p class="coIntro">Future:</p>
                    <ul>
                        {% for effect in status.effects.direct.future %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if status.effects.direct.unrequired %}
                    <p class="coIntro">Not required:</p>
                    <ul>
                        {% for effect in status.effects.direct.unrequired %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if status.effects.larger.outstanding or status.effects.larger.future or status.effects.larger.unrequired %}
            <div class="section" id="changesAppliedSection" style="border-left:none">
                <div class="title future">
                    <h3>Changes and effects yet to be applied to the whole Act associated Parts and Chapters:</h3>
                </div>
                <div class="content" id="changesAppliedContent">
                    {% if status.effects.larger.outstanding %}
                    <p class="coIntro">Outstanding:</p>
                    <ul>
                        {% for effect in status.effects.larger.outstanding %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if status.effects.larger.future %}
                    <p class="coIntro">Future:</p>
                    <ul>
                        {% for effect in status.effects.larger.future %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if status.effects.larger.unrequired %}
                    <p class="coIntro">Not required:</p>
                    <ul>
                        {% for effect in status.effects.larger.unrequired %}
                        {% include "document/effect.html" with effect=effect %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div><span></span>
    </div>
</div>
