{% load static %}<div id="changesOverTime">
    <h2>Changes over time for: {{ meta.title }}</h2>
    <div class="timelineHelp">
        <a href="#timelineHelp" class="helpItem helpItemToMidLeft">
            <img src="{% static 'lgu1/images/chrome/helpIcon.gif' %}" alt=" Help about opening options" />
        </a>
        <div class="help" id="timelineHelp" style="display: none; position: absolute;">
            <span class="icon"></span>
            <div class="content">
                <a href="#" class="close">
                    <img alt="Close" src="{% static 'lgu1/images/chrome/closeIcon.gif' %}" />
                </a>
                <h3>Timeline of Changes</h3>
                <p id="Revised_toc_1">This timeline shows the different points in time where a change occurred. The
                    dates will coincide with the earliest date on which the change (e.g an insertion, a repeal or a
                    substitution) that was applied came into force. The first date in the timeline will usually be the
                    earliest date when the provision came into force. In some cases the first date is 01/02/1991 (or for
                    Northern Ireland legislation 01/01/2006). This date is our basedate. No versions before this date
                    are available. For further information see the Editorial Practice Guide and Glossary under Help.</p>
            </div>
        </div>
    </div>
    <div id="timeline">
        <div id="timelineData" style="width:{{ timeline.width }}px">
            <h3 class="accessibleText">Alternative versions:</h3>
            <ul>
                {% for version in timeline.versions %}
                <li style="width: {{ version.width }}px;" class="{% if version.current %}currentVersion{% endif %}">
                    <a href="/{{ meta.id }}/{{ version.date }}">
                        <span class="pointer"></span>
                        <span>{{ version.label }}<em class="accessibleText">- Amendment</em></span>
                    </a>
                    {% if forloop.last %}
                    <span class="end"></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
