{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_middle %}
<script type="text/javascript" src="{% static 'lgu1/scripts/view/minpagination.js' %}"></script>
<link rel="stylesheet" href="{% static 'lgu1/styles/view/timeline.css' %}" type="text/css" />
{{ timeline_style|safe }}
<link rel="stylesheet" href="{% static 'lgu1/styles/advancedsearch/jquery-ui.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'lgu1/scripts/jquery-ui-1.8.24.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/jquery.ui.slider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/formFunctions/common.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/advancedsearch/search-eu.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/jquery.ui.autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/jquery.ui.comboboxFromLinks.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/headingFacet.js' %}"></script>
<meta name="DC.Date.Modified" content="{{ page_last_modified }}" />
{% comment %} <link rel="alternate" type="application/atom+xml" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page }}" />
<link rel="first" href="https://www.legislation.gov.uk/ukpga/data.feed" />
{% if current_page > 1 %}
<link rel="prev" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page|add:'-1' }}" />
{% endif %}
{% if current_page < last_page %}
<link rel="next" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page|add:'1' }}" />
{% endif %} {% endcomment %}
{% endblock %}

{% block body_id %}browse{% endblock %}
{% block body_class %}{{ short_type }} timeline{% endblock %}

{% block layout2 %}
<div id="layout2" class="subNavPage">
    <div class="pageContent">
      <div id="subNav" class="s_3 p_one">
        <h2 class="accessibleText">Section Navigation</h2>
        <div class="section">
          <ul class="sectionNav">
            <li><a href="#Aboutthiswebsite">About this website</a></li>
            <li><a href="#AboutUs">About Us</a></li>
          </ul>
        </div>
      </div>
      <div class="s_9 p_two">
        <div id="title"><h1 id="pageTitle">{{about_us_data.main_heading|safe}}</h1></div>
        <div id="content">
          <h2 id="Aboutthiswebsite">{{about_us_data.subheading_1|safe}}</h2>
          <p class="first">
            {{about_us_data.introduction_subheading_1|safe}}
          </p>
          
          <h2 id="AboutUs">{{about_us_data.subheading_2|safe}}</h2>
          <p>
            {{about_us_data.introduction_subheading_2|safe}}
          </p>
            {{about_us_data.bullet_list_subheading_2 |safe}}
          <p>
            {{about_us_data.introduction_part2_subheading_2|safe}}
          </p>
          {% for sec in about_us_sub_sec %}       
          <h2 id="AboutUs">{{sec.subheading_2|safe}}</h2>   
            <p>
              {{sec.introduction_subheading_2|safe}}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
