{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_middle %}
<script type="text/javascript" src="{% static 'lgu1/scripts/view/minpagination.js' %}"></script>
<link rel="stylesheet" href="{% static 'lgu1/styles/view/timeline.css' %}" type="text/css" />
{{ timeline_style|safe }}
<link rel="stylesheet" href="{% static 'lgu1/styles/advancedsearch/jquery-ui.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'lgu1/scripts/jquery-ui-1.8.24.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/jquery.ui.slider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/formFunctions/common.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/advancedsearch/search-eu.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/jquery.ui.autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/jquery.ui.comboboxFromLinks.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/headingFacet.js' %}"></script>
<meta name="DC.Date.Modified" content="{{ page_last_modified }}" />
{% comment %} <link rel="alternate" type="application/atom+xml" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page }}" />
<link rel="first" href="https://www.legislation.gov.uk/ukpga/data.feed" />
{% if current_page > 1 %}
<link rel="prev" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page|add:'-1' }}" />
{% endif %}
{% if current_page < last_page %}
<link rel="next" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page|add:'1' }}" />
{% endif %} {% endcomment %}
{% endblock %}

{% block body_id %}browse{% endblock %}
{% block body_class %}{{ short_type }} timeline{% endblock %}

{% block layout2 %}
<div>
    <div class="info">
        <h1 id="pageTitle">{% translate 'Search Results' %}</h1>
        <h2>
            {% translate 'Your search for' %}
            {% translate 'English language' %}
            {% translate type_label_plural  %}
            {% translate 'has returned' %}
            {% if total > 200 %}
                {% translate 'more than' %} 200
            {% else %}
                {{ total }}
            {% endif %}
            {% translate 'results' %}
        </h2>
        <div class="redirectSearch">
            {% if year %}
            <a href="{% url 'browse-year' short_type year %}?lang=cy" class="redirectSearch">Search Welsh language text</a>
            {% else %}
            <a href="{% url 'browse' short_type %}?lang=cy" class="redirectSearch">Search Welsh language text</a>
            {% endif %}
        </div>
    </div>
    {% include "browse/timeline.html" %}
    {% include "browse/paged_nav.html" %}
    <div id="tools">
        <h2 class="accessibleText">Narrow results by:</h2>
        <div class="section" id="type">
            <div class="title">
                <h3>{% translate 'Legislation by Type' %}</h3>
            </div>
            <div class="content">
                <ul>
                    {% for by_type in counts_by_type %}
                    <li class="legType">
                        {% if counts_by_type|length > 1 %}
                        <a href="{{ by_type.link }}">{{ by_type.label }} ({{ by_type.count }})</a>
                        {% else %}
                        <span class="userFunctionalElement disabled">{{ by_type.label }} ({{ by_type.count }})</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="section" id="year">
            <div class="title">
                <h3>{% translate 'Legislation by Year' %}</h3>
            </div>
            <div class="content" id="yearPagination">
                {% for group in grouped_yearly_counts %}
                <ul class="page years">
                    {% for count in group %}
                    {% if count %}
                    <li class="legYear">
                        <a href="{{ request.path }}/{{ count.year }}">{{ count.year }} ({{ count.count }})</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
        {% include "browse/subjects.html" %}
    </div>
    <div id="content" class="results">
        <table>
            <thead>
                <tr>
                    <th>
                        <a href="#" class="sortAsc" title="Sort ascending by Title">
                            <span class="accessibleText">{% translate 'Sort ascending by' %} </span>
                            {% translate 'Title' %}</a>
                    </th>
                    <th>
                        <span class="sortDesc active" title="Sort descending by Years and Numbers">
                            <span class="accessibleText">{% translate 'Sort descending by' %} </span>
                            {% translate 'Years and Numbers' %}</span>
                    </th>
                    <th>
                        <span>{% translate 'Legislation type' %}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documents %}
                {% if doc.altTitle %}
                <tr{% if not forloop.counter|divisibleby:2 %} class="oddRow"{% endif %}>
                    <td class="bilingual en">
                        <a href="{{ doc.link }}">{{ doc.title }}</a>
                    </td>
                    <td rowspan="2">
                        <a href="{{ doc.link }}">{{ doc.cite }}</a>
                    </td>
                    <td rowspan="2">{{ doc.label }}</td>
                </tr>
                <tr{% if not forloop.counter|divisibleby:2 %} class="oddRow"{% endif %}>
                    <td class="bilingual cy">
                        <a href="{{ doc.link }}/welsh" xml:lang="cy">{{ doc.altTitle }}</a>
                    </td>
                </tr>
                {% else %}
                <tr{% if not forloop.counter|divisibleby:2 %} class="oddRow"{% endif %}>
                    <td>
                        <a href="{{ doc.link }}">{{ doc.title }}</a>
                    </td>
                    <td>
                        <a href="{{ doc.link }}">{{ doc.cite }}</a>
                    </td>
                    <td>{{ doc.label }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="contentFooter">
        {% include "browse/paged_nav.html" %}
    </div>
    <p class="backToTop">
        <a href="#top">{% translate 'Back to top' %}</a>
    </p>
</div>
{% endblock %}
