{% extends "../base.html" %}
{% load static %}

{% block page_title %}United Kingdom{% endblock %}

{% block head_middle %}
<link type="text/css" href="{% static 'lgu1/styles/legBrowse.css' %}" rel="stylesheet" />
{% endblock %}


{% block body_id %}browse{% endblock %}
{% block body_class %}intro region{% endblock %}

{% block layout2 %}
<div class="title">
    <h1 id="pageTitle"><abbr title="United Kingdom">UK</abbr></h1>
</div>
<div id="content">
    <div class="s_8 p_one intro">
        <p>Legislation.gov.uk carries most types of UK Legislation. The list below is a breakdown of the types of
            legislation held on this site that are applicable to the whole or some part of the UK. From this page you
            can select any legislation type to continue browsing.</p>
        <div class="s_4 p_absTopRight">
            <div id="map">
                <img id="blank" src="{% static 'lgu1/images/maps/activeUk.gif' %}" alt="United Kingdom (UK)" />
                <div class="returnLink ukRegion"><a href="/browse">Back to all legislation</a></div>
            </div>
        </div>
    </div>
    <div class="s_8 p_one">
        <div class="s_4 p_one legCol">
            <h2>Exclusively or primarily applies to the UK</h2>
            <ul class="legTypes">
                {% for type in primarily %}
                <li><a id="{{ type.shortName }}" href="{% url 'browse' type.shortName %}">{{ type.label }}<span></span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="s_4 p_two legCol">
            <h2>May contain legislation that applies to the UK</h2>
            <ul class="legTypes">
                {% for type in possibly %}
                <li><a id="{{ type.shortName }}" href="{% url 'browse' type.shortName %}">{{ type.label }}<span></span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="s_8 p_one quickLinks">
            <h2>Quick links</h2>
            <ul>
                <li>Scotland Legislation</li>
                <li>Wales Legislation</li>
                <li>Northern Ireland Legislation</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
