{% load static %}
{% load i18n %}
<div id="resultsTimeline" class="fisheye">
    <h2 class="accessibleText">Results by year</h2>
    <h3 class="accessibleText">Key</h3>
    <dl class="key">
        <dt><img src="{% static 'lgu1/images/chrome/timelinePartialKey.gif' %}" alt="Partial" /></dt>
        <dd>
            {% if years.first_complete is None %}
            <em>{% translate 'Partial dataset' %} {{ years.first }} - {{ years.last }}</em>
            {% elif years.first == years.first_complete %}
            <em>{% translate 'Partial dataset' %}</em>
            {% else %}
            <em>{% translate 'Partial dataset' %} {{ years.first }} - {{ years.first_complete|add:'-1' }}</em>
            {% endif %}
        </dd>
        <dt><img src="{% static 'lgu1/images/chrome/timelineCompleteKey.gif' %}" alt="Complete" /></dt>
        <dd>
            {% if years.first_complete and years.last %}
            <em>{% translate 'Complete dataset' %} {{ years.first_complete }} - {{ years.last }}</em>
            {% elif years.first_complete %}
            <em>{% translate 'Complete dataset' %} {{ years.first_complete }} - {% translate 'Present' %}</em>
            {% else %}
            <em>{% translate 'Complete dataset' %}</em>
            {% endif %}
        </dd>
    </dl>
    <h3 class="groupInfo">Results grouped by <strong>10 year</strong> periods</h3>
    <h3 class="accessibleText">Data is ordered by:</h3>
    <ul class="dataDescription">
        <li class="year">Time<span class="accessibleText"> of results</span></li>
        <li class="number">Count<span class="accessibleText"> of results</span></li>
    </ul>
    <p class="explanation">{% translate 'The counts below reflect the number of documents on legislation.gov.uk that match the search for items of this legislation type and are not intended to indicate the total legislation made, enacted or adopted in a particular year.' %}</p>
    <div id="timeline">
        <div id="timelineData">
            {% for group in decade_groups_for_timeline %}
            <div class="decade {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                <h3><a href="" title="{{ group.first_year }}-{{ group.last_year }}">{{ group.first_year }}-{{ group.last_year }}</a></h3>
                <ul>
                    {% for count in group.counts %}
                    <li class="{{ count.class }}">
                        <a href="{{ count.link }}" title="{{ count.count }} results {{ count.year }}">
                            <em><span>{{ count.count }}</span></em>
                            <span class="accessibleText">Results</span>
                            <strong><img src="{% get_static_prefix %}lgu1//images/chrome/timeline{% if count.complete %}Complete{% else %}Partial{% endif %}Key.gif" alt="({% if count.complete %}Complete{% else %}Partial{% endif %})" /> {{ count.year }}</strong>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <h3 class="accessibleText"></h3>
    <table class="decades">
        <tr>
            {% for group in decade_groups_for_timeline %}
            <td>{{ group.first_year }}</td>
            {% endfor %}
        </tr>
        <tr id="fisheye"></tr>
    </table>
</div>
