<footer>
	<div class="section">
		<nav aria-labelledby="websiteInformation">
			<h2 id="websiteInformation" class="sr-only">Website information</h2>
			<ul>
				<li><a href="{% url 'homepage' %}">Help</a></li>
				<li><a href="{% url 'homepage' %}">About Us</a></li>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Accessibility</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Notice</a></li>
				<li><a href="#">Cookies</a></li>
				<li><a href="https://www.nationalarchives.gov.uk/">The National Archives</a></li>
			</ul>
		</nav>

		<div class="mode initialise" hidden>
			<h2>Display preferences:</h2>
			<button id="system">Use system settings</button>
			<button id="light">Light Mode</button>
			<button id="dark">Dark Mode</button>
		</div>

		<div class="copyright">
			<p>
				All content is available under the 
				<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3" rel="nofollow">Open Government Licence v3.0</a> 
				except where <a href="/contributors">otherwise stated</a>. This site additionally contains content derived from EUR-Lex, reused under the terms of the 
				<a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32011D0833" rel="nofollow">Commission Decision 2011/833/EU</a> on the reuse of documents from the EU institutions. 
				For more information see the 
				<a href="https://eur-lex.europa.eu/content/legal-notice/legal-notice.html" rel="nofollow">EUR-Lex public statement on re-use</a>.
			</p>
			<div>&copy; Crown and database right</div>
		</div>
	</div>
</footer>
