{% extends "new_theme/base.html" %}

{% block content %}
<main class="new-legislation">
    <section>
        <nav aria-labelledby="breadcrumbNavigation">
            <h2 id="breadcrumbNavigation">Where this page sits</h2>
            <ol>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'whats-new' %}">What's new</a></li>
                <li><a href="{% url 'new-legislation' %}" aria-current="page">New legislation</a></li>
            </ol>
        </nav>
        <h1 id="main-content-h" tabindex="-1">New legislation</h1>
    </section>
    <section>
        <p>Newly enacted legislation for the UK, Scotland, Wales and Northern Ireland is listed here by publication date rather than the date on which it was enacted. We aim to publish legislation at the same time as – or within 24 hours of – its printed publication, however it may take longer for us to prepare documents which are large or especially complex.</p>
    </section>

    <div>
        <section>
            <label for="published-on" hidden class="initialise">Published on:</label>
            <select id="published-on" hidden class="initialise" onchange="top.location.href='/new/{% if country %}{{ country }}/{% endif %}' + this.value">
                {% for count in dates %}
                <option value="{{ count.date|date:'Y-m-d' }}" {% if count.date == date %}selected{% endif %}>{{ count.date|date:'d F Y' }}</option>
                {% endfor %}
            </select>
            <nav>
                <h2>New legislation for different countries</h2>
                <ul>
                    <li>
                        <a href="/new/{{ date|date:'Y-m-d' }}" {% if country is None %}aria-current="page"{% endif %}>
                            All new legislation
                        </a>
                    </li>
                    <li>
                        <a href="/new/uk/{{ date|date:'Y-m-d' }}" {% if country == 'uk' %}aria-current="page"{% endif %}>
                            United Kingdom
                        </a>
                    </li>
                    <li>
                        <a href="/new/scotland/{{ date|date:'Y-m-d' }}" {% if country == 'scotland' %}aria-current="page"{% endif %}>
                            Scotland
                        </a>
                    </li>
                    <li>
                        <a href="/new/wales/{{ date|date:'Y-m-d' }}" {% if country == 'wales' %}aria-current="page"{% endif %}>
                            Wales
                        </a>
                    </li>
                    <li>
                        <a href="/new/ni/{{ date|date:'Y-m-d' }}" {% if country == 'ni' %}aria-current="page"{% endif %}>
                            Northern Ireland
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>

    <section class="newly-published">
        {% for group in document_groups %}
        <h3>{{ group.label }}</h3>
        <ul>
            {% for doc in group.documents %}
            <li>
                <a href="{{ doc.link }}">{{ doc.cite }} - {{ doc.title }}</a>
                <p>{{ doc.description }}</p>
            </li>
            {% endfor %}
        </ul>
        {% empty %}
        <h3>Nothing published on this date</h3>
        {% endfor %}
    </section>

    <aside>
        <h2>You might also be interested in finding out about...</h2>
        <ul>
            <li>
                <a href="{% url 'new-legislation-feeds' %}">
                    <h3>New legislation feeds</h3>
                    <p>Get details of the latest legislation as soon as it is published without having to check the new legislation page each day.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>What legislation we hold</h3>
                    <p>We hold most but not all types of legislation and their accompanying explanatory documents. Find out what legislation we hold.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>How legislation is made</h3>
                    <p>Where to find details of bills currently before each parliament, and records of parliamentary debates relating to them.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>How soon new legislation is published</h3>
                    <p>Find out how soon after publication we publish new legislation on the website.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Our editorial process</h3>
                    <p>Find out what legislation we revise, our timescales for revision, the conventions we follow and the principles that we abide by.</p>
                </a>
            </li>
        </ul>
    </aside>
</main>
{% endblock %}