<aside aria-labelledby="legislationStatus">
    <h2 id="legislationStatus">Legislation status</h2>
    {% include "new_theme/document/up_to_date.html" %}
    <div class="extent">
        <h3>Extent information</h3>
        <p>This Act contains legislation in relation to {{ extent_label }}</p>
        <button hidden class="initialise">Show geographical extent</button>
        <a href="#">How we communicate territorial extent and application</a>
    </div>
    <div class="in-force">
        <h3>In force status</h3>
        <p>This Act is partially in force</p>
        <a href="#">Commencement and repeal history of this Act</a>
    </div>    
</aside>