{% if status.up_to_date is not none and not status.up_to_date %} <span class="status-panel-anchor"></span>

<div class="status-panel not-up-to-date">
    <div>
        <h2>{{ status.label|capfirst }} has been amended but we need to update the website to reflect the changes.</h2>
        <p>We are currently updating {{ status.label }} with changes that have been made by new legislation.</p>
        <button><span>Pin this panel</span></button>
    </div>

<details id="statusPanelDetail">
    <summary>See what these changes are</summary>

    <div>

        {% if status.effects.direct.outstanding %}
        <h3>&mdash; Outstanding &mdash;</h3>
        <ul>
            {% for effect in status.effects.direct.outstanding %}
                {% include "document/effect.html" with effect=effect %}
            {% endfor %}
        </ul>
        {% endif %}

        {% if status.effects.direct.future %}
        <h3>&mdash; Fixed Future &mdash;</h3>
        <ul>
            {% for effect in status.effects.direct.future %}
                {% include "document/effect.html" with effect=effect %}
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</details>

</div>

{% elif status.up_to_date and status.has_future_effects %}

<span class="status-panel-anchor"></span>

<div class="status-panel not-up-to-date">
    <div>
        <h2>Changes and effects yet to be applied to {{ status.label }}</h2>
        <p>There are changes and effects that may come into force in the future.</p>
        <button><span>Pin this panel</span></button>
    </div>

<details id="statusPanelDetail">
    <summary>See what these changes are</summary>

    <div>

        <h3>&mdash; Fixed Future &mdash;</h3>
        <ul>
            {% for effect in status.effects.direct.future %}
                {% include "document/effect.html" with effect=effect %}
            {% endfor %}
        </ul>

    </div>
</details>

</div>

{% endif %}
