{% if status.up_to_date is not none and not status.up_to_date %}
<span class="status-panel-anchor"></span>
<div class="status-panel not-up-to-date">
    <div>
        <h2>{{ status.label|capfirst }} has been amended but we need to update the website to reflect the changes.</h2>
        <p>We are currently updating {{ status.label }} with changes that have been made by new legislation.</p>
        <button class=""><span>Pin this panel</span></button>
    </div>
    <details id="statusPanelDetail">
        <summary>See what these changes are</summary>
        <div>
            {% if status.effects.direct.outstanding %}
            <h3>&mdash; Outstanding &mdash;</h3>
            <ul>
                {% for effect in status.effects.direct.outstanding %}
                {% include "document/effect.html" with effect=effect %}
                {% endfor %}
            </ul>
            {% endif %}
            {% if status.effects.direct.prospective %}
            <h3>&mdash; Prospective (no fixed future date) &mdash;</h3>
            <ul>
                {% for effect in status.effects.direct.prospective %}
                {% include "document/effect.html" with effect=effect %}
                {% endfor %}
            </ul>
            {% endif %}
            {% if status.effects.direct.fixedFuture %}
            <h3>&mdash; Fixed Future &mdash;</h3>
            <ul>
                {% for effect in status.effects.direct.fixedFuture %}
                {% include "document/effect.html" with effect=effect %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </details>
</div>
{% endif %}
