<section class="timeline">
    <h2>Timeline of versions</h2>
    <details>
        <summary>
            <span class="open">
                <span class="version"><span class="prefix">You are viewing </span><span class="title">the current version</span></span>
                <span class="date">from <span>04 Mar 2024</span></span>
                <span class="button">See all versions</span>
            </span>
            <span class="close">Close</span>
        </summary>
        <div class="versions">
            <nav aria-label="Timeline of versions">
                <ol>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="version"><span class="title">The original text</span></span>
                            <span class="date">as enacted on <span>15 Mar 2022</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="version"><span class="title">Our 1st annotated version</span></span>
                            <span class="date">from <span>01 Aug 2022</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="version"><span class="title">A historical version</span></span>
                            <span class="date">from <span>12 Oct 2022</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="version"><span class="title">A historical version</span></span>
                            <span class="date">from <span>01 Apr 2023</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="version"><span class="title">A historical version</span></span>
                            <span class="date">from <span>08 Apr 2023</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="version"><span class="title">A historical version</span></span>
                            <span class="date">from <span>26 Oct 2023</span></span>
                        </a>
                    </li>
                    <li aria-current="page">
                        <a href="javascript:void(0);">
                            <span class="version"><span class="prefix">You are viewing </span><span class="title">The current version</span></span>
                            <span class="date">from <span>04 Mar 2024</span></span>
                        </a>
                    </li>
                </ol>
            </nav>
                <div hidden class="scrollbar initialise">
                <h3>Scrollbar to access all versions on the timeline. Keyboard-only users already have access to all versions.</h3>
                <button class="left" disabled><span>Scroll left</span></button>
                <div class="drag-strip"><div class="drag" draggable="true"><span>Drag horizontally to scroll timeline</span></div></div>
                <button class="right"><span>Scroll right</span></button>
            </div>
        </div>
    </details>
</section>