{% extends "new_theme/base.html" %}
{% load i18n %}
{% block content %}
<main class="legislation">
    <section>
        {% include "new_theme/document/breadcrumbs.html" %}
        <h1 id="main-content-h" tabindex="-1">
            Table of contents 
            <br class="initialise" /><span>{{ meta.title }}</span>
        </h1>
    </section>

    <nav aria-labelledby="legislationNavigation" class="legislation-navigation">
        <h2 id="legislationNavigation">Table of contents, previous and next provisions</h2>
        <span></span>
        <span></span>
        <a href="{{ meta.next }}"><span><span>Next: </span>Introduction</span></a>
    </nav>

    <section class="pit-search">
        <h2>View this legislation at a specific date</h2>
        <details>
            <summary>You are viewing the table of contents on <span>{{ current_date|date:"d M Y" }}</span><span> Enter a date</span></summary>
            <form role="search">
                <h3>Change the date</h3>
                <label for="pitDate">Date:</label>
                <input type="date" id="pitDate" name="pitDate" value="{{ current_date|date:'Y-m-d' }}">
                <button type="submit">Go</button>
            </form>
        </details>
    </section>

    {% include "new_theme/document/timeline.html" %}

    <div class="legislation-content">
        {% include "new_theme/document/right_side_panel.html" %}

        <div>{# this is the main content #}
            {% include "new_theme/document/status_panel.html" %}
            <section class="toc-detail">
                {% if contents %}
                <button hidden class="initialise expanded" id="toc"><span>Collapse table of contents</span></button>
                <h2>Table of contents for this Act</h2>
                <ul>
                    <li><h3><a href="{{ links.whole }}">The whole Act</a></h3>
                        <ul>
                            <li><a href="{{ links.content }}">Introduction</a></li>
                            {% for item in contents.body %}
                                {% include "new_theme/document/toc_item.html" with item=item level=1 %}
                            {% endfor %}
                            {% for item in contents.schedules %}
                                {% include "new_theme/document/toc_item.html" with item=item level=4 %}
                            {% endfor %}                            
                        </ul>
                    </li>
                </ul>
                {% else %}
                    <h1>There is no Table of contents for this Act</h1>
                {% endif %}
            </section>
        </div>
        {% include "new_theme/document/related_info.html" %}        
    </div>
</main>
{% endblock %}