{% load heading_tags %}
<li>
    {% if item.children %}
        <details open>  <!-- Only open details for items with children -->
            <summary>
                <{{ level|heading_tag }} class="crossheading">
                    <a href="{{ item.link }}">
                        {% if item.number and item.title %}
                            {{ item.number }}. {{ item.title|safe }}
                        {% elif item.number %}
                            {{ item.number }}
                        {% else %}
                            {{ item.title|safe }}
                        {% endif %}
                    </a>
                </{{ level|heading_tag }}>
            </summary>
            <!-- Include children recursively -->
            {% include "new_theme/document/toc_children.html" with children=item.children level=level|add:"1" %}
        </details>
    {% else %}
            <a href="{{ item.link }}">                
                {% if item.number and item.title %}
                    {{ item.title|safe }}
                {% elif item.number %}
                    {{ item.number }}
                {% else %}
                    {{ item.title|safe }}
                {% endif %}
            </a>
            <span class="extent">
                <span>Extends to </span>
                {% if item.extent %}
                {% for extent in item.extent %}
                <span class="{{extent|lower}}"><span>{{extent}}</span></span>
                {% endfor %}
                {% endif %}
            </span>        
    {% endif %}
</li>
