{% extends "../base.html" %}

{% block body_id %}doc{% endblock %}

{% block layout2 %}
<div>
    <h1 id="pageTitle">A combination of XML and Core Reference metadata</h1>
</div>
<table style="margin-top:1em;width:unset;border: thin solid gray">
    <caption>from document XML</caption>
    <tbody>
        <tr>
            <td>id</td><td>{{ meta1.id }}</td>
        </tr>
        <tr>
            <td>title</td><td>{{ meta1.title }}</td>
        </tr>
        <tr>
            <td>date</td><td>{{ meta1.date }}</td>
        </tr>
    </tbody>
</table>
<table style="margin-top:1em;width:unset;border: thin solid gray">
    <caption>from core reference</caption>
    <tbody>
        <tr>
            <td>citation</td><td>{{ meta2.item.citation }}</td>
        </tr>
        <tr>
            <td>full citation</td><td>{{ meta2.item.fullCitation }}</td>
        </tr>
        <tr>
            <td>original language</td><td>{{ meta2.item.originalLanguage }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
