{% load i18n %}
<form id="contentSearch" method="get" action="/search" class="contentSearch">
    <h2>Search Legislation</h2>
    <div class="title">
        <label for="title">{% translate 'Title' %}: <em>(or keywords in the title)</em></label>
        <input type="text" id="title" name="title" />
    </div>
    <div class="year">
        <label for="year">{% translate 'Year' %}:</label>
        <input type="text" id="year" name="year" />
    </div>
    <div class="number">
        <label for="number">{% translate 'Number' %}:</label>
        <input type="text" id="number" name="number" />
    </div>
    <div class="type">
        <label for="type">{% translate 'Type' %}:</label>
        <select name="type" id="type">
            <option value="primary+secondary" selected="selected">{% translate 'All UK Legislation (excluding originating from the EU)' %}</option>
            <option disabled="disabled">--------------------------------------------</option>
            <option value="all">{% translate 'All Legislation (including originating from the EU)' %}</option>
            <option disabled="disabled">--------------------------------------------</option>
            <option value="primary">{% translate 'All Primary Legislation' %}</option>
            <option value="ukpga">    {% translate 'UK Public General Acts' %}</option>
            <option value="ukla">    {% translate 'UK Local Acts' %}</option>
            <option value="ukppa">    {% translate 'UK Private and Personal Acts' %}</option>
            <option value="asp">    {% translate 'Acts of the Scottish Parliament' %}</option>
            <option value="asc">    {% translate 'Acts of Senedd Cymru' %}</option>
            <option value="anaw">    {% translate 'Acts of the National Assembly for Wales' %}</option>
            <option value="mwa">    {% translate 'Measures of the National Assembly for Wales' %}</option>
            <option value="ukcm">    {% translate 'Church Measures' %}</option>
            <option value="nia">    {% translate 'Acts of the Northern Ireland Assembly' %}</option>
            <option value="aosp">    {% translate 'Acts of the Old Scottish Parliament' %}</option>
            <option value="aep">    {% translate 'Acts of the English Parliament' %}</option>
            <option value="aip">    {% translate 'Acts of the Old Irish Parliament' %}</option>
            <option value="apgb">    {% translate 'Acts of the Parliament of Great Britain' %}</option>
            <option value="gbla">    {% translate 'Local Acts of the Parliament of Great Britain' %}</option>
            <option value="gbppa">    {% translate 'Private and Personal Acts of the Parliament of Great Britain' %}</option>
            <option value="nisi">    {% translate 'Northern Ireland Orders in Council' %}</option>
            <option value="mnia">    {% translate 'Measures of the Northern Ireland Assembly' %}</option>
            <option value="apni">    {% translate 'Acts of the Northern Ireland Parliament' %}</option>
            <option disabled="disabled">--------------------------------------------</option>
            <option value="secondary">{% translate 'All Secondary Legislation' %}</option>
            <option value="uksi">    {% translate 'UK Statutory Instruments' %}</option>
            <option value="wsi">    {% translate 'Wales Statutory Instruments' %}</option>
            <option value="ssi">    {% translate 'Scottish Statutory Instruments' %}</option>
            <option value="nisr">    {% translate 'Northern Ireland Statutory Rules' %}</option>
            <option value="ukci">    {% translate 'Church Instruments' %}</option>
            <option value="ukmd">    {% translate 'UK Ministerial Directions' %}</option>
            <option value="ukmo">    {% translate 'UK Ministerial Orders' %}</option>
            <option value="uksro">    {% translate 'UK Statutory Rules and Orders' %}</option>
            <option value="nisro">    {% translate 'Northern Ireland Statutory Rules and Orders' %}</option>
            <option disabled="disabled">--------------------------------------------</option>
            <option value="eu-origin">{% translate 'All Legislation originating from the EU' %}</option>
            <option value="eur">    {% translate 'Regulations originating from the EU' %}</option>
            <option value="eudn">    {% translate 'Decisions originating from the EU' %}</option>
            <option value="eudr">    {% translate 'Directives originating from the EU' %}</option>
            <option value="eut">    {% translate 'European Union Treaties' %}</option>
            <option disabled="disabled">--------------------------------------------</option>
            <option value="draft">{% translate 'All Draft Legislation' %}</option>
            <option value="ukdsi">    {% translate 'UK Draft Statutory Instruments' %}</option>
            <option value="sdsi">    {% translate 'Scottish Draft Statutory Instruments' %}</option>
            <option value="nidsr">    {% translate 'Northern Ireland Draft Statutory Rules' %}</option>
            <option disabled="disabled">--------------------------------------------</option>
            <option value="ukia">{% translate 'All Impact Assessments' %}</option>
            <option value="ukia">    {% translate 'UK Impact Assessments' %}</option>
        </select></div>
    <div class="submit">
        <button type="submit" id="contentSearchSubmit" class="userFunctionalElement">
            <span class="btl"></span>
            <span class="btr"></span>
            {% translate 'Search' %}
            <span class="bbl"></span>
            <span class="bbr"></span>
        </button>
    </div>
    <div class="advSearch">
        <a href="/search">{% translate 'Advanced Search' %}</a>
    </div>
</form>
