{% extends "base.html" %}
{% load static %}

{% block head_middle %}
<script type="text/javascript" src="{% static 'lgu1/scripts/view/minpagination.js' %}"></script>
<link rel="stylesheet" href="{% static 'lgu1/styles/view/timeline.css' %}" type="text/css" />
{{ timeline_style|safe }}
<link rel="stylesheet" href="{% static 'lgu1/styles/advancedsearch/jquery-ui.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'lgu1/scripts/jquery-ui-1.8.24.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/jquery.ui.slider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/view/scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/formFunctions/common.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/advancedsearch/search-eu.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/jquery.ui.autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/jquery.ui.comboboxFromLinks.js' %}"></script>
<script type="text/javascript" src="{% static 'lgu1/scripts/search/headingFacet.js' %}"></script>
<meta name="DC.Date.Modified" content="{{ page_last_modified }}" />
<link rel="alternate" type="application/atom+xml" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page }}" />
<link rel="first" href="https://www.legislation.gov.uk/ukpga/data.feed" />
{% if current_page > 1 %}
<link rel="prev" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page|add:'-1' }}" />
{% endif %}
{% if current_page < last_page %}
<link rel="next" href="https://www.legislation.gov.uk/ukpga/data.feed?page={{ current_page|add:'1' }}" />
{% endif %}
{% endblock %}

{% block body_id %}browse{% endblock %}
{% block body_class %}ukpga timeline{% endblock %}

{% block layout2 %}
<div>
    <div class="info">
        <h1 id="pageTitle">Search Results</h1>
        <h2>Your search for English language UK Public General Acts has returned more than 200 results.</h2>
        <div class="redirectSearch" style="visibility: hidden"><a href="/search/?lang=cy&amp;type=ukpga"
                class="redirectSearch">Search Welsh language text</a></div>
    </div>
    {% include "timeline.html" %}
    {% include "paged_nav.html" %}
    <div id="tools">
        <h2 class="accessibleText">Narrow results by:</h2>
        <div class="section" id="type">
            <div class="title">
                <h3>Legislation by Type</h3>
            </div>
            <div class="content">
                <ul>
                    <li class="legType">
                        <span class="userFunctionalElement disabled">UK Public General Acts ({{ total }})</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section" id="year">
            <div class="title">
                <h3>Legislation by Year</h3>
            </div>
            <div class="content" id="yearPagination">
                {% for group in grouped_yearly_counts %}
                <ul class="page years">
                    {% for count in group %}
                    {% if count %}
                    <li class="legYear"><a href="/ukpga/{{ count.year }}">{{ count.year }} ({{ count.count }})</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="content" class="results">
        <table>
            <thead>
                <tr>
                    <th><a href="/ukpga?sort=title" class="sortAsc" title="Sort ascending by Title"><span
                                class="accessibleText">Sort ascending by </span>Title</a></th>
                    <th><span class="sortDesc active" title="Sort descending by Years and Numbers"><span
                                class="accessibleText">Sort descending by </span>Years and Numbers</span>
                    </th>
                    <th><span>Legislation type</span></th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documents %}
                <tr {% if not forloop.counter|divisibleby:2 %} class="oddRow" {% endif %}>
                    <td>
                        <a href="/{{ doc.id }}">{{ doc.title }}</a>
                    </td>
                    <td>
                        <a href="/{{ doc.id }}">{{ doc.year }} c. {{ doc.number }}</a>
                    </td>
                    <td>UK Public General Acts</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="contentFooter">
        {% include "paged_nav.html" %}
    </div>
    <p class="backToTop"><a href="#top">Back to top</a></p>
</div>
{% endblock %}
