<div class="interface">
    <div class="prevPagesNextNav">
        <ul>
            {% if current_page > page_numbers|first %}
            <li class="pageLink prev">
                <a href="/ukpga?page={{ current_page|add:'-1' }}" title="previous page">
                    <span class="btl"></span>
                    <span class="btr"></span>
                    <span>Previous</span>
                    <span class="accessibleText"> results page</span>
                    <span class="bbl"></span>
                    <span class="bbr"></span>
                </a>
            </li>
            {% endif %}
            {% for i in page_numbers %}
            <li class="pageLink{% if i == current_page %} currentPage{% endif %}">
                {% if i == current_page %}
                <strong>
                    <span class="accessibleText">This is results page </span>
                    <span>{{ i }}</span>
                </strong>
                {% else %}
                <a href="/ukpga?page={{ i }}">
                    <span class="accessibleText">Results page </span>
                    <span>{{ i }}</span>
                </a>
                {% endif %}
            </li>
            {% endfor %}
            {% if current_page < page_numbers|last %}
            <li class="pageLink next">
                <a href="/ukpga?page={{ current_page|add:'1' }}" title="next page">
                    <span class="btl"></span>
                    <span class="btr"></span>
                    <span>Next</span>
                    <span class="accessibleText"> results page</span>
                    <span class="bbl"></span>
                    <span class="bbr"></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
