<div class="interface">
    <div class="prevPagesNextNav">
        <ul>
            <li class="currentPage pageLink"><strong><span class="accessibleText">This is results page
                    </span>1</strong></li>
            <li class="pageLink"><a href="/ukpga?page=2" rel="next"><span class="accessibleText">Results
                        page </span>2</a></li>
            <li class="pageLink"><a href="/ukpga?page=3"><span class="accessibleText">Results page
                    </span>3</a></li>
            <li class="pageLink"><a href="/ukpga?page=4"><span class="accessibleText">Results page
                    </span>4</a></li>
            <li class="pageLink"><a href="/ukpga?page=5"><span class="accessibleText">Results page
                    </span>5</a></li>
            <li class="pageLink"><a href="/ukpga?page=6"><span class="accessibleText">Results page
                    </span>6</a></li>
            <li class="pageLink"><a href="/ukpga?page=7"><span class="accessibleText">Results page
                    </span>7</a></li>
            <li class="pageLink"><a href="/ukpga?page=8"><span class="accessibleText">Results page
                    </span>8</a></li>
            <li class="pageLink"><a href="/ukpga?page=9"><span class="accessibleText">Results page
                    </span>9</a></li>
            <li class="pageLink"><a href="/ukpga?page=10"><span class="accessibleText">Results page
                    </span>10</a></li>
            <li class="pageLink next"><a href="/ukpga?page=2" title="next page"><span
                        class="btl"></span><span class="btr"></span>Next<span class="accessibleText">
                        results page</span><span class="bbl"></span><span class="bbr"></span></a></li>
        </ul>
    </div>
</div>
