{% load static %}
{% load i18n %}
<div id="tools">
    <div class="section" id="whatVersion">
        <div class="title">
            <a href="#whatversionHelp" class="helpItem helpItemToMidRight">
                <img src="{% static 'lgu1/images/chrome/helpIcon.gif' %}" alt=" Help about what version" />
            </a>
            <h2>{% translate 'What Version' %}</h2>
        </div>
        <div class="content">
            <ul class="toolList">
                <li>
                    {% if meta.status == 'final' or pit %}
                        {% if True %}
                        <a class="userFunctionalElement" href="/{{ meta.id }}">
                            <span class="background">
                                <span class="btl"></span>
                                <span class="btr"></span>
                                {% translate 'Latest available (Revised)' %}
                                <span class="bbl"></span>
                                <span class="bbr"></span>
                            </span>
                        </a>
                        {% else %}
                        <span class="userFunctionalElement disabled">
                            <span class="background">
                                <span class="btl"></span>
                                <span class="btr"></span>
                                {% translate 'Latest available (Revised)' %}
                                <span class="bbl"></span>
                                <span class="bbr"></span>
                            </span>
                        </span>
                        {% endif %}
                    {% else %}
                    <span class="userFunctionalElement active">
                        <span class="background">
                            <span class="btl"></span>
                            <span class="btr"></span>
                            {% translate 'Latest available (Revised)' %}
                            <span class="bbl"></span>
                            <span class="bbr"></span>
                        </span>
                    </span>
                    {% endif %}
                </li>
                {% if pit %}
                <li>
                    <span class="userFunctionalElement active">
                        <span class="background">
                            <span class="btl"></span>
                            <span class="btr"></span>
                            {% translate 'Point in Time' %} ({{ pit }})
                            <span class="bbl"></span>
                            <span class="bbr"></span>
                        </span>
                    </span>
                </li>
                {% endif %}
                <li>
                    {% if meta.status == 'final' %}
                    <span class="userFunctionalElement active">
                        <span class="background">
                            <span class="btl"></span>
                            <span class="btr"></span>
                            {% translate 'Original (As enacted)' %}
                            <span class="bbl"></span>
                            <span class="bbr"></span>
                        </span>
                    </span>
                    {% else %}
                    <a class="userFunctionalElement" href="/{{ meta.id }}/enacted">
                        <span class="background">
                            <span class="btl"></span>
                            <span class="btr"></span>
                            {% translate 'Original (As enacted)' %}
                            <span class="bbl"></span>
                            <span class="bbr"></span>
                        </span>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div id="advFeatures" class="section">
        <div class="title">
            <a href="#advFeaturesHelp" class="helpItem helpItemToMidRight">
                <img src="{% static 'lgu1/images/chrome/helpIcon.gif' %}" alt=" Help about advanced features" />
            </a>
            <h2>{% translate 'Advanced Features' %}</h2>
        </div>
        <div id="advFeaturesContent" class="content">
            <ul class="toolList">
                <li>
                    <a class="userFunctionalElement" href="?view=interweave">{% translate 'Show Explanatory Notes for Sections' %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section" id="openingOptions">
        <div class="title">
            <a href="#openingOptionsHelp" class="helpItem helpItemToMidRight">
                <img src="{% static 'lgu1/images/chrome/helpIcon.gif' %}" alt=" Help about opening options" />
            </a>
            <h2>{% translate 'Opening Options' %}</h2>
        </div>
        <div id="openingOptionsContent" class="content">
            <ul class="toolList">
                <li class="whole">
                    <a href="/ukpga/2018/1/enacted">{% translate 'Open whole Act' %}</a>
                </li>
                <li class="minusSched">
                    <a href="/ukpga/2018/1/body/enacted">{% translate 'Open Act without Schedules' %}</a>
                </li>
                <li class="onlySched">
                    <a href="/ukpga/2018/1/schedules/enacted">{% translate 'Open Schedules only' %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section" id="pdfVersions">
        <div class="title">
            <h2>{% translate 'More Resources' %}</h2>
        </div>
        <div class="content" id="pdfVersionsContent">
            <div class="content">
                <ul class="toolList">
                    <li>
                        <a class="pdfLink" href="/ukpga/2018/1/pdfs/ukpga_20180001_en.pdf">{% translate 'Original' %}: {% translate "King's Printer Version" %}</a>
                    </li>
                </ul>
            </div>
            <p class="viewMoreLink">
                <a href="/ukpga/2018/1/resources">{% translate 'View more' %}<span class="pageLinkIcon"></span></a>
            </p>
        </div>
    </div>
</div>
