{% if item.name == 'schedule' %}
<li class="LegClearFix LegContentsSchedule tocDefaultCollapse">
    {% if item.number %}
    <p class="LegContentsNo">
        <a href="{{ item.link }}">{{ item.number }}</a>
    </p>
    {% endif %}
    <p class="LegContentsTitle">
        <a href="{{ item.link }}">{{ item.title|safe }}</a>
    </p>
    {% include "document/toc_children.html" with children=item.children %}
</li>
{% elif item.name == 'part' %}
<li class="LegClearFix LegContentsPart tocDefaultExpanded">
    <p class="LegContentsNo">
        <a href="{{ item.link }}">{{ item.number }} {{ item.title|safe }}</a>
    </p>
    {% include "document/toc_children.html" with children=item.children %}
</li>
{% elif item.name == 'chapter' %}
<li class="LegClearFix LegContentsChapter">
    <p class="LegContentsNo">
        <a href="{{ item.link }}">{{ item.number }} {{ item.title|safe }}</a>
    </p>
    {% include "document/toc_children.html" with children=item.children %}
</li>
{% elif item.name == 'pblock' %}
<li class="LegClearFix LegContentsPblock">
    <span class="LegContentsTitle">
        <a href="{{ item.link }}">{{ item.title|safe }}</a>
    </span>
    {% include "document/toc_children.html" with children=item.children %}
</li>
{% else %}
<li class="LegContentsEntry">
    <p class="LegContentsItem LegClearFix">
        {% if item.number %}
        <span class="LegDS LegContentsNo">
            <a href="{{ item.link }}">{{ item.number }}.</a>
        </span>
        {% endif %}
        <span class="LegDS LegContentsTitle">
            <a href="{{ item.link }}">{{ item.title|safe }}</a>
        </span>
    </p>
</li>
{% endif %}
