<!DOCTYPE html>{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Flint SPARQL Editor</title>
<script type="text/javascript" src="{% static 'flint/sparql/jquery-1.5.2.min.js' %}">//</script>
<script type="text/javascript" src="{% static 'flint/sparql/lib/codemirror.js' %}">//</script>
<script type="text/javascript" src="{% static 'flint/sparql/sparql10querymode_ll1.js' %}">//</script>
<script type="text/javascript" src="{% static 'flint/sparql/sparql11querymode_ll1.js' %}">//</script>
<script type="text/javascript" src="{% static 'flint/sparql/sparql11updatemode_ll1.js' %}">//</script>
<script type="text/javascript" src="{% static 'flint/sparql/init-lgu2.js' %}">//</script>
<script type="text/javascript" src="{% static 'flint/sparql/flint-editor-105.js' %}">//</script>
<link rel="stylesheet" href="{% static 'flint/sparql/lib/codemirror.css' %}"/>
<link rel="stylesheet" href="{% static 'flint/sparql/css/sparqlcolors.css' %}"/>
<link rel="stylesheet" href="{% static 'flint/sparql/css/docs.css' %}"/>
</head>
<body>
<div id="flint-test">
</div>
</body>
</html>
