{% extends "new_theme/base.html" %}
{% block content %}
<main>
    <section>
        <nav aria-labelledby="breadcrumbNavigation">
            <h2 id="breadcrumbNavigation">Where this page sits</h2>
            <ol>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'explore' %}" aria-current="page">Explore our collections</a></li>
            </ol>
        </nav>
        <h1 id="main-content-h" tabindex="-1">Explore our collections</h1>
    </section>
    <section class="cards icon-cards">
        <p>Browse legislation by specific current and historic Parliaments, Assemblies and Governments of the UK. Alternatively, explore our curated collections of Draft Statutory Instruments awaiting Parliamentary procedure; legislation relating to specific events such as coronavirus, and find out what happened with EU legislation when the UK left the EU.</p>
        <h2>Main sections in Explore our collections</h2>
        <ul>
            <li>
                <a class="icon_different_legislatures_uk" href="{% url 'different-legislatures' %}">
                    <h3>Different legislatures of the UK</h3>
                    <p>Legislation made by the current and historic Parliaments, Assemblies and Governments of the UK.</p>
                </a>
            </li>
            <li>
                <a class="icon_eu_exit_uk_law" href="{% url 'explore-eu-exit-and-uk-law' %}">
                    <h3>EU Exit and UK law</h3>
                    <p>What happened when the UK left the EU, the legislation we hold, and how to work out what applies to the UK.</p>
                </a>
            </li>
            <li>
                <a class="icon_new_legislation" href="{% url 'explore' %}">
                    <h3>New legislation</h3>
                    <p>New Northern Ireland, Scottish, Welsh and UK legislation listed by publication date.</p>
                </a>
            </li>
            <li>
                <a class="icon_draft_legislation" href="#">
                    <h3>Draft legislation</h3>
                    <p>Draft Statutory Instruments that are awaiting approval.</p>
                </a>
            </li>
            <li>
                <a class="icon_uk_impact_assessments" href="#">
                    <h3>UK Impact Assessments</h3>
                    <p>Procedures that assess prospective economic, social, and environmental effects of public UK policy proposals.</p>
                </a>
            </li>
            <li>
                <a class="icon_coronavirus_legislation" href="#">
                    <h3>Coronavirus legislation</h3>
                    <p>Key coronavirus legislation that applies to the England, Northern Ireland, Scotland and Wales.</p>
                </a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}