<form action="/changes" id="searchChanges" class="s_12 p_one">
    <fieldset id="affect" class="s_5 p_one">
        <legend>Changes that affect:</legend><a class="helpItem helpItemToTop"
            href="#changesThatAffectHelp"><img alt="Changes that affect help"
                src="/images/chrome/helpIcon.gif" /></a>
        <div class="title"><label for="affected-title">Title:</label><input id="affected-title"
                name="affected-title" type="text" value="" /></div>
        <div class="typeChoice">
            <label for="affected-type">Legislation type:</label><select id="affected-type" name="affected-type">
                <option value="">Any</option>
                {% for key, value in types.items %}
                <option value="{{ key }}" {% if key == query.affected_type %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="yearChoice"><input type="radio" name="affected-year-choice"
                id="affected-year-specific" value="specific" class="yearChoice radio"
                checked="checked" /><label for="affected-year-specific">Specific year and
                number</label>
            <div class="yearChoiceFields" id="affectsSingleYear">
                <div class="from">
                    <label for="affected-year">Year:</label><input id="affected-year"
                        name="affected-year" type="text" value="{{ query.affected_year|default_if_none:'' }}" />
                    </div>
                <div class="number">
                    <label for="affected-number">Number:</label><input id="affected-number"
                        name="affected-number" type="text" value="{{ query.affected_number|default_if_none:'' }}" />
                    </div>
            </div>
        </div>
        <div class="yearChoice"><input type="radio" name="affected-year-choice"
                id="affected-year-choice-range" value="range" class="yearChoice radio" /><label
                for="affected-year-choice-range">Range of years</label>
            <div class="yearChoiceFields" id="affectedRangeYears">
                <div class="from"><label for="affected-start-year">From:</label><input
                        id="affected-start-year" name="affected-start-year" type="text" value="" />
                </div>
                <div class="to"><label for="affected-end-year">To:</label><input
                        id="affected-end-year" name="affected-end-year" type="text" value="" />
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset id="affecting" class="s_5 p_two">
        <legend>made by:</legend><a class="helpItem helpItemToTop" href="#madeByHelp"><img
                alt="Made by help" src="/images/chrome/helpIcon.gif" /></a>
        <div class="title"><label for="affecting-title">Title:</label><input id="affecting-title"
                name="affecting-title" type="text" value="" /></div>
        <div class="typeChoice"><label for="affecting-type">Legislation type:</label><select
                id="affecting-type" name="affecting-type">
                <option value="">Any</option>
                <option value="ukpga">UK Public General Acts</option>
                <option value="ukla">UK Local Acts</option>
                <option value="ukppa">UK Private and Personal Acts</option>
                <option value="asp">Acts of the Scottish Parliament</option>
                <option value="asc">Acts of Senedd Cymru</option>
                <option value="anaw">Acts of the National Assembly for Wales</option>
                <option value="mwa">Measures of the National Assembly for Wales</option>
                <option value="ukcm">Church Measures</option>
                <option value="nia">Acts of the Northern Ireland Assembly</option>
                <option value="gbla">Local Acts of the Parliament of Great Britain</option>
                <option value="gbppa">Private and Personal Acts of the Parliament of Great Britain
                </option>
                <option value="uksi">UK Statutory Instruments</option>
                <option value="wsi">Wales Statutory Instruments</option>
                <option value="ssi">Scottish Statutory Instruments</option>
                <option value="nisi">Northern Ireland Orders in Council</option>
                <option value="nisr">Northern Ireland Statutory Rules</option>
                <option value="ukci">Church Instruments</option>
                <option value="ukmd">UK Ministerial Directions</option>
                <option value="ukmo">UK Ministerial Orders</option>
                <option value="eur">Regulations originating from the EU</option>
                <option value="eudn">Decisions originating from the EU</option>
                <option value="eudr">Directives originating from the EU</option>
            </select></div>
        <div class="yearChoice"><input type="radio" name="affecting-year-choice"
                id="affecting-year-choice-specific" value="specific" class="yearChoice radio"
                checked="checked" /><label for="affecting-year-choice-specific">Specific year and
                number</label>
            <div class="yearChoiceFields" id="affectingSingleYear">
                <div class="from"><label for="affecting-year">Year:</label><select
                        name="affecting-year" id="affecting-year">
                        <option value="" selected="selected">Any</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select></div>
                <div class="number"><label for="affecting-number">Number:</label><input
                        id="affecting-number" name="affecting-number" type="text" value="" /></div>
            </div>
        </div>
        <div class="yearChoice"><input type="radio" name="affecting-year-choice"
                id="affecting-year-choice-range" value="range" class="yearChoice radio" /><label
                for="affecting-year-choice-range">Range of years</label>
            <div class="yearChoiceFields" id="affectingRangeYears">
                <div class="from"><label for="affecting-start-year">From:</label><select
                        name="affecting-start-year" id="affecting-start-year">
                        <option value="" selected="selected">YYYY</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select></div>
                <div class="to"><label for="affecting-end-year">To:</label><select
                        name="affecting-end-year" id="affecting-end-year">
                        <option selected="selected">YYYY</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select></div>
            </div>
        </div>
    </fieldset>
    <div id="searchInfo">
        <p></p>
        <fieldset id="effectsOptions" class="s_6">
            <legend>Results showing</legend><a class="helpItem helpItemToMidRight"
                href="#resultsShowingHelp"><img alt="Results showing help"
                    src="/images/chrome/helpIcon.gif" /></a>
            <div><input type="radio" id="appliedAll" value="all" name="applied" class="radio"
                    checked="checked" /><label for="appliedAll">All changes</label><input
                    type="radio" id="applied" value="applied" name="applied" class="radio" /><label
                    for="applied">Changes made to the website text</label><input type="radio"
                    id="unapplied" value="unapplied" name="applied" class="radio" /><label
                    for="unapplied">Outstanding changes not yet made to the website</label><button
                    type="submit" id="legChangesSearchSubmit" class="userFunctionalElement"><span
                        class="btl"></span><span class="btr"></span>Get Results<span
                        class="bbl"></span><span class="bbr"></span></button></div>
        </fieldset>
    </div>
</form>
